<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\el-viejo-hr.jpg" />
    <h1>Tepexi el Viejo</h1>
    <p>Su nombre porviene del náhuatl y significa piedra partida (Tetl-piedra y Pexix-partir o cortar). Tepexi el Viejo
      se localiza en lo alto de una elevación, limitado en sus tres lados por barrancas. Se trata de una ciudad fortificada
      con una gran muralla de piedra que la rodea; su arquitectura monumental combina la topografía natural con el 
      ingenio arquitectónico de su planeación. Los pliegues del terreno fueron aprovechados para la construcción, 
      creando cinco niveles entrelazados con escalinatas y accesos. El sistema constructivo empleó recubrimiento a 
      manera de muros de contención para crear la gran muralla; la piedra caliza fue utilizada también para los nucleos
      de las contrucciones y en los recintos se observan muros con aplanados de cal y pisos de arena y cal.
      <br><br> Tepexi el Viejo fue un centro rector importante en la región, que hizo las veces de cabecera de un señorío
       popoloca que controlaba el sur de Puebla; el asentamiento se desarrolló durante el periodo Posclásico -entre el 1 
       200 y el 1 500 después de Cristo-. Aunque existen sitios de periodos anteriores a su alrededor, al parecer la 
       caída de Teotihucan generó cambios importantes en los centros de poder; después de este acontecimiento, a fines del 
       Clásico, nuevas y variadas ciudades comenzaron a surgir; en la región sur de Puebla, los señorios popolocas tuvieron 
       su mejor momento. Este esplendor se manifestó en el comercio; los grandes mercados fueron acaparados debido a que su 
       control significaba una vía de poder hacia otros grupos.
      <br><br>Se localiza en el municipio de Tepexi de Rodríguez, al sureste de la ciudad de Puebla.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>