<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Tetzcotzinco-hr.jpg" />
    <h1>Tetzcotzinco</h1>
    <p>Significa “el pequeño Tetzcoco o querido Tetzcoco”, sin embargo 
      el vocablo “tzin” en náhuatl refiere respeto o afecto, por lo que 
      se entendería como “lugar hermoso y apreciado”. Las características 
      arquitectónicas del sitio le otorgan una importancia excepcional, ya que 
      se trata de una extraordinaria obra hidráulica que conducía agua de los manantiales 
      de la sierra de Tlaloc, a través de canales y acueductos, hasta el pequeño cerro de forma cónica del mismo nombre. <br><br>
      En el siglo XVI, Tetzcotzinco, parte de Texcoco, alcanzó su máximo esplendor bajo 
      el reinado de Nezahualcóyotl. Este sitio destacaba por su arquitectura, sistema 
      hidráulico y función ceremonial. Durante una hambruna en 1450, migrantes llegaron a 
      Texcoco, donde Nezahualcóyotl empleó a esta mano de obra para crear obras notables, 
      como el sistema de regadío sur de Acolhuacán. La zona arqueológica es emblemática y fue inmortalizada por el pintor José María Velasco en "Baños de Nezahualcóyotl" (1880).
      grandes del mundo antiguo, con una población estimada de más de 100,000 habitantes. <br><br>
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>