<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tamaulipas-img\balcon-moctezuma-hr.jpg" />
    <h1>Balcón de Moctezuma</h1>
    <p>Se le asignó el nombre de “Balcón de Montezuma”, pues se pensó que eran las ruinas que había visitado el erudito
      Toribio de la Torre en el siglo XIX, a las cuales se les había denominado “Los Montezumas”. En años posteriores se
      verá que más que ser el nombre de un lugar, esta expresión se atribuía a cualquier espacio donde hubiera restos de
      épocas prehispánicas, refiriéndose a los sitios arqueológicos. <br><br> Aunque el nombre de “Balcón de Montezuma” en la
      actualidad es ampliamente conocido, entre los lugareños el sitio se conoce también como “Los Indios.” <br><br>
      “Balcón de Montezuma” es un sitio de gran importancia a nivel regional. Es uno de los pocos sitios localizados en
      la Sierra Madre Oriental (hablando de la porción situada en el estado de Tamaulipas) que han sido estudiados y que
      hoy puede ser visitado por todo el público interesado.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>