<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\malinalco-hr.jpg" />
    <h1>Malinalco</h1>
    <p>Llamada localmente “el cerro de los ídolos”, significa “lugar donde se adora a Malinalxóchitl” diosa mexica
      responsable de la hechicería y otras artes oscuras, hermana de Huitzilopochtli.
      Sin embargo la zona arqueológica retoma este nombre del antiguo poblado sin mantener ninguna relación con los
      rituales consagrados a dicha diosa. <br><br>
      Al pie de la entrada al templo, encontramos tendida una enorme lengua bífida, al este de la puerta podemos
      apreciar la hermosa escultura de la cabeza de una singular serpiente de carácter bélico en la que descansan los
      restos de la estatua de un guerrero, al oeste se encuentra otra escultura en forma de un enorme pedestal,
      simbolizando un tlalpanhuehuetl (tabor de guerra), sobre el cual de la misma manera que la anterior se encuentran
      los restos de la escultura de otro guerrero, al parecer ambas tenían la función de porta estandartes.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>