<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tabasco-img\comalcalco-hr.jpg" />
    <h1>Comalcalco</h1>
    <p>El asentamiento prehispánico de Comalcalco fue un destacado centro comercial en la región de la Chontalpa,
      sirviendo como punto de tránsito entre la costa del Golfo y la península de Yucatán. Su ubicación estratégica a lo
      largo del río Mezcalapan le proporcionó acceso clave para el comercio interregional. <br><br> El sitio incluye tres
      conjuntos arquitectónicos principales: Plaza Norte, Gran Acrópolis y Acrópolis Este, todos con edificaciones
      monumentales, espacios de culto, templos y estructuras residenciales. La presencia de productos de diversas
      regiones sugiere una intensa actividad comercial, y se han identificado alrededor de 276 montículos de tierra en
      el área periférica, donde residía la población. Según estudios epigráficos, la ciudad originalmente se llamaba
      HoyChan.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>