<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tlaxcala-img\ocotelulco-hr.jpg" />
    <h1>Ocotelulco</h1>
    <p>Ocotelulco es palabra náhuatl y significa “en el altozano del pino” o “en el lugar de las bolitas de ocote”. <br><br> Fray
      Toribio de Motolinía le atribuye por significado “en el barrio del pino”. La zona arqueológica de Ocotelulco se
      encuentra en el estado de Tlaxcala, en el poblado del mismo nombre, abarca
      parte de los poblados de San Francisco Ocotelulco, Axotla del Río - San Miguel Tlamahuaco, mismos que forman parte
      del área conurbada de la capital tlaxcalteca. <br><br>
      Ocotelulco fue un centro urbano del período Posclásico Tardío, constituido hacia el siglo XII después de Cristo.
      Se dice que este grupo teochichimeca se distinguía por su ideología militarista, misma que plasmó en muchos de sus
      elementos culturales.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>