<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\CDMX-img\cuicuilco-hr.jpg" />
    <h1>Cuicuilco</h1>
    <p>El sitio se ubica en el suroeste de la cuenca de México, en un antiguo delta del río formado por las 
      corrientes que bajaban del Zacatepetl y el actual bosque de Tlalpan. En el l sector abierto al público 
      conocido como Cuicuilco A, se localizan los siguientes monumentos arqueológicos: Gran Basamento, Kiva, 
      Edificio E1 y la Estela. En este mismo sector además se encuentra el Museo de Sitio y un recorrido de Reserva 
      Ecológica. La zona arqueológica incluye otros tres sectores: Cuicuilco B (Villa Olímpica), Peña Pobre y Cuicuilco D, 
      además del montículo de Tenantongo en el Bosque de Tlalpan.
      <br><br> El sitio se ubica en el suroeste de la cuenca de México en un antiguo delta del río formado por las 
      corrientes que bajaban del Zacatépetl y el actual bosque de Tlalpan.Se afirma que el desarrollo del lugar, desde
      época temprana, se debe a su posición estratégica, ya que el occidente de la cuenca se conecta con la entrada al
      valle de Toluca. Asimismo, se considera que el declive de Cuicuilco se generó entre 100 a.C.-1 d.C., y aunque hubo
      una ligera recuperación durante 1-150 d.C., la presencia de deidades del fuego, y ceniza volcánica en los pisos, 
      sugiere fuerte actividad volcánica en la cuenca de México. No obstante el abandono de Cuicuilco como gran centro 
      ceremonial, se continuó haciendo ofrendas hasta el momento en que la localidad fue cubierta por las lavas del Xitle,
      lo que ocurrió alrededor del año 400 después de Cristo.
      <br><br> Se localiza en la avenida Insurgentes Sur, en el cruce con Anillo Periférico.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>