<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\Mayapan-hr.jpg" />
    <h1>Mayapán</h1>
    <p>Mayapán presenta una arquitectura que comparte similitudes con la de Chichén Itzá, otra importante ciudad 
      maya en la región. Entre las estructuras notables se encuentra El Castillo, que es una pirámide escalonada 
      similar a la de Chichén Itzá.
      <br><br>Una característica única en Mayapán es el "Muro de los Cráneos" o "Tzompantli", que es una 
      plataforma decorada con cráneos de sacrificios humanos. Este tipo de estructuras se encuentran en varios 
      sitios mayas y reflejan prácticas rituales y religiosas de la época.
      <br><br>Aunque Mayapán fue una ciudad poderosa en su apogeo, experimentó un declive hacia el final del 
      Posclásico Tardío. Se cree que factores como conflictos internos y externos, así como la disminución de 
      recursos, pudieron haber contribuido a su abandono.
      <br><br>Mayapán se encuentra en el estado de Yucatán, aproximadamente a unos 40 kilómetros al sureste de 
      la ciudad de Mérida. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>