<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guanajuato-img\canada-virgen-hr.jpg" />
    <h1>Cañada de la Virgen</h1>
    <p>La zona arqueológica Cañada de la Virgen, ubicada en el municipio de San Miguel de Allende, es un asentamiento
      prehispánico enclavado en la frontera septentrional de Mesoamérica, cuyos principales monumentos se utilizaron
      para realizar observaciones del cielo. Su traza urbana refleja los ciclos cósmicos a los que se vinculaba la vida
      de grupos de agricultores que también practicaron la recolección y la cacería de las regiones semidesérticas
      aledañas e intercambiaron con otras regiones mesoamericanas objetos utilizados en actividades rituales. <br><br>
      Su posición defensiva, desde la que se domina visualmente la cuenca central del río Laja, indica también la
      importancia ritual del lugar. El apogeo de este sitio tuvo lugar entre los años 600 y 900 d.C., situándose en el
      Epiclásico mesoamericano.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>