<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\sayil-hr.jpg" />
    <h1>Sayil</h1>
    <p>El apogeo de Sayil se sitúa en el periodo Clásico Tardío y Posclásico Tardío de la civilización maya, 
      específicamente entre los años 600 y 1000 d.C.
      <br><br> Al igual que otros sitios en la región Puuc, Sayil exhibe un estilo arquitectónico conocido 
      como "estilo Puuc". Este estilo se caracteriza por el uso extensivo de piedra caliza para la construcción 
      y la presencia de elaborados frisos decorativos.
      <br><br>Una de las estructuras más destacadas en Sayil es el "Palacio de Sayil" o "Palacio de las Máscaras". 
      Este complejo arquitectónico es conocido por las numerosas máscaras de Chaac, la deidad de la lluvia, que 
      decoran sus fachadas.
      <br><br> Sayil se encuentra en la península de Yucatán, aproximadamente a 75 kilómetros al sur de Mérida, 
      la capital del estado de Yucatán.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>