<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\olintepec-hr.jpeg" />
    <h1>Olintepec</h1>
    <p>El poblado prehispánico de Olintepec, ubicado junto al río Cuautla, se fundó alrededor de 1500 a.C. en un valle
      fecundo rodeado por cerros y lomas. El río fue crucial para la comunicación y el intercambio de productos con
      otras regiones mesoamericanas. Inicialmente, alrededor de 1500 a.C., se establecieron aldeas agrícolas, pero
      alrededor de 1200 a.C. hubo cambios sociales, surgiendo una clase dirigente que fundó Olintepec alrededor de 1000
      a.C. En el Preclásico Tardío, construyeron un templo dedicado a su dios patrono. <br><br> Entre 700 y 900, trasladaron el
      centro ceremonial para emular ciudades epiclásicas, pero su importancia disminuyó. Alrededor de 1220, grupos
      tlahuicas marcaron la cuarta etapa de apogeo de Olintepec, construyendo más de 16 templos. Después de la llegada
      de los españoles y la fundación de la Triple Alianza en 1428, Olintepec pagó tributo y decayó. Tras la Conquista,
      frailes dominicos fundaron una capilla sobre el palacio del tlatoani, y el poblado desapareció en 1603 debido a
      enfermedades y sobreexplotación.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>