<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\tehuacalco-hr.JPG" />
    <h1>Tehuacalco</h1>
    <p>Tehuacalco, cuya palabra proviene del náhuatl relacionada con el vocablo tehuacalli, se refiere a las pozas o
      pequeñas oquedades prehispánicas que fueron creadas por el hombre en las piedras con fines rituales brinda cuatro
      formas de recorrido: el de monumentos prehispánicos, el de los petrograbados, el del paisaje ritual con los
      cerros, y el relativo a la flora y fauna del lugar. <br><br>
      Estructuras piramidales, petrograbados y cuevas de culto al Sol, son algunos de los elementos arqueoastronómicos
      que reúne la Zona Arqueológica de Tehuacalco, en Guerrero, lugar que fue el centro ceremonial de la antigua
      cultura Yope, uno de los pocos señoríos de finales de la época prehispánica que nunca pudieron ser dominados por
      los mexicas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>