<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\las-higueras-hr.jpg" />
    <h1>Las Higueras</h1>
    <p>Éste es un asentamiento de la cultura totonaca que floreció entre 600 y 900 d.C. <br><br>
      Se distingue porque a través de sus increíbles murales se puede saber más sobre sus rituales y ceremonias en donde
      las mujeres tenían un papel muy importante.
      En el museo se muestra una colección de utensilios de piedra como metates y molcajetes; sin embargo, lo relevante
      son las copias facsimilares de los murales que se encontraron en el edificio que se ubica frente al museo.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>