<ion-content>
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\el-rey-hr.jpg">
    <h1>El Rey</h1>
    <p>El Rey es el asentamiento prehispánico más notable del área isleña de Cancún. La sección explorada, que incluye
      cuarenta y siete estructuras, corresponde a una zona religiosa y administrativa en la que seguramente se llevaron
      a cabo importantes ceremonias y vivieron los personajes de mayor estatus en la vida política de esa región.
      <br><br>En
      algunas de las estructuras palaciegas que hoy pueden visitarse se conservan fragmentos de pintura mural que hacen
      alusión a dioses y elementos iconográficos relacionados con la vida religiosa de los mayas posclásicos del norte
      de Quintana Roo.
    </p>
    <p>La zona arqueológica se ubica en el kilómetro 18 del Bulevar Kukulcán, en la Zona Hotelera de la Cd. de Cancún,
      10 kilómetros al sur del Centro de. El visitante puede arribar al sitio por medio del transporte público.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>