<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\querende-hr.jpg" />
    <h1>Los Querende</h1>
    <p>
      El vocablo Cuetlajuchitlán viene del náhuatl y significa “lugar de flores rojas” o “lugar de flores marchitas”.
      Los lugareños también conocen el lugar como “Los Querendes”. Se desconoce quienes fueron los habitantes del lugar,
      aunque por su temporalidad, en un principio fue contemporaneo a la presencia de rasgos olmecas en Guerrero y hacia
      la parte final de su ocupación, se incluyó en la esfera de la cultura mezcala. <br><br> Cuetlajuchitlán es un
      sitio con una larga secuencia ocupacional que abarca por lo menos 11 siglos, desde el asentamiento de los primeros
      habitantes del sitio, quienes alrededor del 800 a.C. formaron una pequeña aldea, la cual creció y floreció hasta
      el año 200 d.C. en el periodo Clásico Temprano, convirtiéndose en uno de los principales y más complejos núcleos
      poblacionales en el noroeste del estado de Guerrero. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>