<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\slp-img\tamohi-hr.png" />
    <h1>Tamohi</h1>
    <p>Esta zona arqueológica también se conoce con los nombres de Tamuín por el municipio y el El Consuelo por el rancho, Tamohí es un término que significa, en la lengua de los tenek, Lugar de efervescencia, fue construida entre los siglos XIII a XVI y quedó despoblada al principio de la conquista española.
      La parte explorada nos muestra los elementos característicos de la arquitectura cívico-religiosa de la época, presentando similitudes en sus características formales con la mexica del centro de México, mientras que sus técnicas constructivas se asemejan a las de la zona arqueológica de Cempoala, en el estado de Veracruz.
       <br><br>
       La Zona Arqueológica Tamohi se ubica en el municipio de Tamuin, San Luís Potosí sobre el kilómetro 5+600 de la carretera estatal Tamuin - San Vicente Tancuayalab, sobre la margen derecha del río Tampaon, cuenta con una extensión de 211 hectáreas donde se localizan cuatro plazas de tipo cívico  religiosas, áreas residenciales, área habitacional y su área de cultivo en la parte baja cerca del río. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>