<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\huandacareo-hr.jpeg" />
    <h1>Huandacareo La Nopalera</h1>
    <p>Huandacareo es un sitio arqueológico Purépecha del Posclásico Tardío. El sitio se ubica en la cuenca de Cuitzeo
      sobre una loma que fue nivelada con una gran plataforma sobre la que se desplantan plazas y edificios. <br><br> La
      evidencia arqueológica recuperada indica que este asentamiento no albergaba a una población numerosa, sino que se
      trataba de un lugar de índole pública para la administración del imperio, la impartición de justicia, la
      celebración de rituales y el enterramiento de líderes; es decir, era un punto importante en la organización
      político territorial del imperio Purépecha. Cronología: 1300 a conquista española en 1536. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>