<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\chimalhuacan-hr.jpg" />
    <h1>Chimalhuacan</h1>
    <p>Chimalhuacán (de chimalli, "escudo"; hua, partícula de posesión, y can, “lugar de") "lugar de los que tienen
      escudos", constituye uno de los pocos centros urbanos del Posclásico en la Cuenca de México que ha conservado el
      tecpan, es decir, el edificio donde vivía la nobleza del lugar, el cual, según los datos de las excavaciones
      recientes, es el único edificio prehispánico del sitio. <br><br>
      De acuerdo con antiguos documentos, Chimalhuacán fue fundado hacia 1200 d.C. por tres caciques. Con el tiempo
      formó parte de la confederación de ciudades-Estado acolhuas y fue uno de los sitios tributarios de Texcoco,
      integrante de la Triple Alianza. El acervo está constituido por el material arqueológico del sitio. Durante el
      recorrido se describe el lugar y a sus antiguos pobladores.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>