<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\guiengola-hr.jpg" />
    <h1>Guiengola</h1>
    <p> Por su ubicación, forma y sistema constructivo, se cree que Guiengola era un sitio fortificado donde se resguardaban 
      y defendían los zapotecas de los ataques de grupos hostiles. También es probable que fuera el centro administrativo 
      del reinado zapoteca en el istmo al momento de la conquista española.
      <br><br> Guiengola significa en zapoteco del istmo Piedra Grande que proviene de guie, piedra y ngola, grande o viejo. 
      También se le conoce como Danyroó o Cerro Grande o Antiguo. La zona fue construida y habitada por zapotecas en la época
       posclásica (1350-1521 después de Cristo), aunque hay quienes afirman que fue ocupada mucho antes de esas fechas. La 
       ciudad de Guiengola fue construida por los zapotecos en una elevación natural, que junto con las construcciones realizadas 
       por sus habitantes, crearon un asentamiento difícil de ser invadido. De acuerdo con los datos etnohistóricos y arqueológicos, 
       este lugar fue ocupado por mixes, zoques, huaves y chontales, cuando eran atacados por otros grupos que procedían del altiplano 
       y del sur de Mesoamérica.
      <br><br> Se localiza en el Istmo de Tehuantepec, a 20 minutos del poblado de Tehuantepec en el paraje Las Tejas, allí se toma 
      una terracería hasta las faldas del cerro, desde donde se camina una hora hasta el sitio. El sitio arqueológico de Guiengola se 
      localiza dentro del barrio de Lieza, municipio de Santo Domingo Tehuantepec, región del Istmo de Tehuantepec, Oaxaca.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>