<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\loltun-hr.jpg" />
    <h1>Loltún</h1>
    <p>La cueva de Loltún es una de las cuevas más grandes y destacadas de la región. Tiene una longitud de varios 
      kilómetros y contiene evidencia de ocupación humana desde la época prehispánica hasta la actualidad. En las 
      paredes de la cueva se encuentran pinturas rupestres y petroglifos que datan de diferentes periodos, lo que 
      la hace un sitio arqueológico importante.
      <br><br>Las pinturas rupestres en la cueva de Loltún representan escenas de la vida cotidiana, figuras 
      antropomorfas y zoomorfas, así como símbolos abstractos. Estas pinturas proporcionan valiosa información 
      sobre la cultura y la cosmovisión de las personas que habitaron la región en el pasado.
      <br><br> Además de la cueva, en la superficie se encuentra el sitio arqueológico de Loltún, que incluye 
      estructuras mayas como plataformas y escalinatas. Estas estructuras sugieren que Loltún fue un lugar ceremonial 
      y residencial.
      <br><br>Loltún se encuentra en el estado de Yucatán, México, cerca de la ciudad de Oxkutzcab. Es conocida tanto 
      por su sitio arqueológico como por las cuevas cercanas. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>