<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\palenque-hr.jpg" />
    <h1>Palenque</h1>
    <p>La zona arqueológica de Palenque, derivada del nombre de la comunidad cercana Santo Domingo de Palenque, fue una
      ciudad poderosa en el periodo Clásico Maya (500-900 d.C.), junto con Tikal y Calakmul. Conocida por su dinastía
      notable, a la que perteneció Pakal, Palenque participó en redes comerciales, alianzas y conflictos bélicos con
      otras ciudades mayas. La organización territorial se basaba en ciudades-estado, identificadas por el glifo
      emblema, con movilidad constante. <br><br> Las inscripciones jeroglíficas mayas, estudiadas por su antigua escritura
      logosilábica y sistemas calendáricos, revelan detalles sobre alianzas matrimoniales, políticas y eventos bélicos.
      La ciudad destaca por el descubrimiento de la tumba de Pakal en 1952. Su cronología principal se sitúa en el
      periodo Clásico, entre el 400 y el 900 d.C</p>
  </ion-card>

  <div id="map"></div>
</ion-content>