<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\coahuila-img\rincon-colorado-hr.JPG" />
    <h1>Zona paleontológica Rincón Colorado</h1>
    <p>
      En esta zona paleontológica se han encontrado restos de dinosaurios del Cretácico Tardío, con aproximadamente 72
      millones de años, entre los que se han podido identificar restos óseos que han llevado al descubrimiento de nuevas
      especies y nuevos géneros de dinosaurios, únicos en el mundo. Por ejemplo, del dinosaurio Velafrons coahuilensis
      que se caracteriza por tener una frente en forma de vela de barco que hasta el momento no se ha encontrado en otra
      región del mundo.<br> <br>Primer sitio paleontológico del país adaptado para la visita pública: Rincón Colorado,
      ubicado en el municipio de General Cepeda, al sureste la entidad. Rincón Colorado, donde se conservan las huellas
      de las playas del periodo Cretácico y se ha descubierto una gran concentración de restos de dinosaurios
      herbívoros, llamados hadrosaurios, ofrece un viaje al pasado de la Tierra hace 72 millones de años, por las
      orillas del antiguo mar interior de Norteamérica, cuyas señales permanecen en el desierto, en las rocas y canteras
      ricas en fósiles marinos, de plantas e insectos además de los vestigios de hadrosaurios.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>