<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tabasco-img\moral-reforma-hr.JPG" />
    <h1>Moral-Reforma</h1>
    <p> Se encuentra en la porción central del municipio
      de Balancán en Tabasco, ocupando dos colinas de baja altura con más de 76 edificios prehispánicos distribuidos
      alrededor de dos plazas abiertas. <br><br> Moral-Reforma fue una ciudad maya ubicada en la ribera del río San Pedro Mártir,
      inicialmente un punto
      estratégico para la navegación alrededor del 300 a.C. Experimentó un desarrollo arquitectónico significativo entre
      el 250 y 500 d.C., consolidándose como un centro de control fluvial y estableciendo alianzas políticas con grandes
      señoríos mayas como Calakmul y Palenque. Con el respaldo político y económico, alcanzó su máximo desarrollo
      arquitectónico. <br><br> La reorientación política de Calakmul y disputas territoriales debilitaron Tikal,
      permitiendo que
      Moral-Reforma alcanzara independencia política hasta el 1000 d.C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>