<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\bk_hr.jpg" />
    <h1>Balamku</h1>
    <p>
      La zona arqueológica de Balamkú se localiza en el sureste del estado de Campeche, en el municipio de Calakmul.
      <br><br>
      El nombre del sitio deriva de las palabras mayas Balam (jaguar) y Kú (templo), significando “Templo del Jaguar”.
      Dicho nombre alude a uno de los jaguares plasmados en el friso de estuco modelado y policromado que corona la
      Sub-estructura I-A del Grupo Central, que caracteriza a esta ciudad prehispánica. <br><br>
      Esta ciudad sagrada se divide en tres grupos arquitectónicos: Sur, Central y Norte, de los cuales sólo dos se han
      explorado parcialmente desde 1990 que fue descubierto el sitio.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>