<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\ixtapaluca-hr.jpg" />
    <h1>Ixtapaluca</h1>
    <p>Acozac es conocido como Ixtapaluca que en náhuatl significa “en el camino de lajas”, se le otorgó el nombre de
      Acozac por encontrarse en los terrenos de la antiguamente Hacienda de Acozac. <br><br>
      Es una acrópolis que perteneció al periodo posclásico, habitada desde la época de los teotihuacanos. Formó parte
      de Acolhuacan. Cuenta con una plaza principal, un templo circular dedicado a Ehécatl Dios del viento, una
      plataforma para ceremonias y el Palacio considerado un conjunto habitacional de los gobernantes y sacerdotes
      (Instituto Nacional de Antropología e Historia (INAH), 2017).
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>