<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\caracol-hr.jpg" />
    <h1>El Caracol</h1>
    <p>El sitio data del posclásico tardío -1200/1500 d.C.-, y constituye el más notable vestigio de una serie de
      marcadores y construcciones elaboradas por los Itzaes, quienes se caracterizaron por señalizar puntos importantes,
      como arrecifes y entradas del mar a las lagunas. El Caracol servía como capilla, punto de orientación del tráfico
      marítimo, y lugar de enlace con el resto de la isla. <br><br> El sitio se compone de 3 estructuras principales,
      constituidas por 2 templos y un altar. El caracol es una bien preservada estructura construida entre el 1200 y
      1400 d. C., usada por los mayas como señal de aproximación de los huracanes.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>