<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\xochipala-hr.png" />
    <h1>Xochipala</h1>
    <p>Esta zona arqueológica es representativa de la Cultura Mezcala. El área construida durante su apogeo abarca
      18,000 m2, y sus edificios corresponden a un estilo arquitectónico peculiar; algunos cuartos y basamentos están
      decorados con hileras de piezas circulares de piedras conocidas como clavos; otros con un tipo de tableros en
      escapulario y, unos más, techados con lajas saledizas, sistema conocido como bóveda falsa. <br><br> La Organera Xochipala
      tuvo su apogeo de 650 a 900 d.C y abarca 18,000 metros cuadrados; sus edificios
      corresponden a un estilo arquitectónico peculiar; algunos cuartos y basamentos están decorados con hileras de
      piezas circulares de piedra conocidas como clavos; otros con elementos semejantes a los tableros en escapulario de
      la zona oaxaqueña y unos más están techados con lajas saledizas, sistema conocido como bóveda falsa. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>