<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guanajuato-img\peralta-hr.png" />
    <h1>Peralta</h1>
    <p>Este sitio, disperso en las faldas del cerro Peralta y las orillas del río Lerma, sobresale desde época
      prehispánica por su carácter agrícola. Los terrenos alrededor de la zona, y los cientos de terrazas que se han
      registrado sobre la ladera norte del cerro que le da nombre, dan cuenta de esta actividad. <br><br> Además, la cercanía con
      respecto al Lerma sugiere la existencia de una gran cantidad de recursos lacustres que, se piensa, complementaron
      la dieta de los antiguos habitantes. Otro factor que contribuyó al desarrollo de estos grupos fue la presencia de
      yacimientos de obsidiana y riolita en las cercanas sierras de Pénjamo y Abasolo. Su auge tuvo lugar entre los años
      300 y 650. <br><br>
      Peralta posee más de 20 grupos de estructuras. En la zona nuclear, sin embargo, destacan El Divisadero y La
      Mesita, dos conjuntos explorados en su totalidad. El Divisadero está conformado por una plaza que delimitan dos
      templos y una banqueta designada para habitaciones. Sobre los basamentos de este lugar, que tenía fines rituales,
      se observan restos de muros de adobe, mientras que la plaza cerrada creaba un ambiente privado para actividades
      ceremoniales.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>