<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\colima-img\campana-hr.jpg" />
    <h1>La Campana</h1>
    <p>
      El Chanal presenta estructuras arquitectónicas que muestran la habilidad de los habitantes para trabajar con la piedra y la cerámica. 
      Hay pirámides, patios y plazas ceremoniales. <br><br>
      Se han encontrado esculturas de piedra tallada que representan figuras humanas y animales. Estas esculturas son consideradas expresiones
       artísticas significativas de la cultura que habitó la región.<br><br>
       Aunque El Chanal es un sitio más pequeño en comparación con algunas otras ciudades mesoamericanas, su ubicación estratégica en la región
       lo hace relevante para comprender las interacciones y la influencia cultural en el área.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>