<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\san-felipe-los-alzati-hr.jpeg" />
    <h1>San Felipe Los Alzati</h1>
    <p>Se localiza en la vertiente sur del Cerro Zirahuato, desde la que se domina el valle de Zirahuato; se supone que
      desempeñaba una función estratégica para la vigilancia del paso de grupos provenientes tanto del centro de México,
      vía Toluca, como de los que transitaban desde el centro de Michoacán vía Tuxpan. <br><br> De acuerdo con los estudios
      arqueológicos realizados en el sitio, se le ubica para el periodo Posclásico tardío, considerado por este hecho,
      que el sitio se sitúa en la frontera entre los Mexica y los tarascos, por lo que su función primordial sería la
      defensa territorial. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>