<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets/img/izamal.jpg">
    <h1>Zona arqueologica de Izamal</h1>
    <p>Un importante centro religioso y ceremonial de los mayas, el lugar también es conocido como Ciudad de los Cerros
      y Ciudad de las Tres Culturas, debido a la unión entre la época prehispánica, la colonial y la actual.
      <br><br> Fue fundada incluso antes de Uxmal y Chichén Itzá y probablemente fue la ciudad más grande de las
      llanuras yucatecas del norte, cubriendo una extensión urbana mínima de 53 kilómetros cuadrados (20 millas
      cuadradas). Alcanzó su apogeo durante el Clásico Tardío y su dominio se extendió a una amplia franja costera de
      Yucatán. <br> <br> En ese asentamiento se tenía una especial devoción por Zamná, Dios creador y benefactor de los
      mayas. Alcanzó su
      mayor desarrollo durante el Clásico Tardío y su dominio se extendió hasta una amplia franja costera de Yucatán.
      <br><br> El sitio se localiza a 72 kilómetros de la Ciudad de Mérida, Yucatán, desde donde se toma la Carretera
      Federal No. 180, hacia Cancún hasta llegar al poblado de Hoctun donde hay un libramiento que conduce a Izamal.
    </p>
    <div id="interes">
      <ion-button shape="round" (click)="redirectToizamalRA()">Ver en RA</ion-button>
    </div>
  </ion-card>
</ion-content>