<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\yohualichan-hr.jpg" />
    <h1>Yohualichan</h1>
    <p>Yohualichan proviene de la lengua náhuatl y significa Casa de la noche. Sus primeros habitantes hablaban totonaco, 
      por lo que es muy probable que el nombre actual sea una traducción de otro, más antiguo, pero con el mismo significado.
      <br><br> Se sabe que en el Posclásico (900 a 1521 después de Cristo), hubo importantes reacomodos de población, principalmente
      desplazamientos de las zonas áridas a otras con mejores posibilidades, lo que generó enfrentamientos con los grupos que
      habitaban las tierras fértiles. Es posible que los totonacos, habitantes de Yohualichan, hayan sido desplazados por 
      estas invasiones, sin embargo, el desarrollo cultural de la ciudad aún esta por explorarse. El sitio está integrado por
      edificos, plazas y un juego de pelota; en el sistema constructivo se empleó piedra como recubrimiento de las estructuras
      y alfardas en las escalinatas. Quizá lo que más llamativo sean las grecas y los nichos utilizados que recuerdan a los 
      edificios de la ciudad de El Tajín.
      <br><br>Yohualichan proviene de la lengua náhuatl y significa Casa de la noche. Sus primeros habitantes hablaban totonaco,
      por lo que es muy probable que el nombre actual sea una traducción de otro, más antiguo pero con el mismo significado.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>