<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\tepapayeca-hr.jpg" />
    <h1>Tepapayeca</h1>
    <p>El sitio se localiza al norte del actual poblado, está formado por varios basamentos, la mayor
      parte de estos nacen bajo las casas actuales. La zona arqueológica es una porción muy reducida,
      ya que se limita a los restos de un basamento piramidal y a cuatro edificios menores. De estos 
      basamentos se cuenta con información de por lo menos una etapa constructiva anterior. En el caso
      del edificio 1, esta parcialmente explorado, es un basamento escalonado que conserva solo dos
      de sus cuerpos, es cuadrangular y la fachada principal esta ordenada al oeste.
      <br><br> Tepapayeca fue un sitio sometido por la triple alianza (Tezcoco, Tenochtitlan y Tlacopan),
      con el fin de proteger la ruta comercial que tocaba el lugar y era de gran importancia para prevenir
      las invasiones de grupos mixtecos; por lo que existía una guarnición mexica establecida para custodiar
      la zona de Huaquechula y Tepeojuma cuya función consistió en evitar sublevaciones en los pueblos
      dominados, así como evitar invasiones.
      <br><br> Se encuentra en el municipio de Tlapanala, al suroeste del estado. A 7 kilómetros de lzúcar de 
      Matamoros, rumbo a Cuautla, está la desviación que conduce a la comunidad de Tepapayeca. A partir de la
      Ciudad de Cuernavaca, Morelos, se toma la Carretera Federal Núm. 160 que se dirige a Oaxaca.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>