<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\vedelape-hr.jpg" />
    <h1>Vega de la Peña</h1>
    <p>Los antecedentes historiográficos de este sitio se remontan a datos primarios generales del siglo XVI
      manifestados en el Códice Mendocino Matrícula de Tributos en los cuales se puede ver que la región se incluía
      dentro del centro receptor de productos tributarios que el imperio azteca impuso a la provincia de Tlapacoyan,
      entre los productos tributarios destaca el arte plumario, lo cual pone en relieve la biodiversidad de la costa
      certeramente vislumbrada desde la llegada de los españoles. La población se divide en dos zonas: Cuajilote y Vega
      de la Peña. <br><br> La permanencia de los pobladores de estos sitios se aseguró por el recurso de la sobrevivencia, el
      abasto permanente de agua y de su exploración constante, conjugada con los nichos arqueológicos aledaños de partes
      altas y bajas en torno a las cañadas. Los juegos de pelota son diferentes en ambos sitios y su alineación
      contraria. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>