<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Ocoyoacac-hr.jpg" />
    <h1>Ocoyoacac</h1>
    <p>Del náhuatl Ocotl que significa “ocote” o “pino”; Yácatl que significa “nariz” y c, apócope del locativo co; “Lugar donde empiezan los ocotes”. Localmente con los nombres de Tlalcozpan y los Dorantes.<br><br>
      La zona arqueológica de Ocoyoacac, datada en las fases Tlamimilolpa y Xolalpan del Horizonte Clásico (250-450 d.C.), sugiere posible presencia de inmigrantes teotihuacanos. 
      El conjunto consta de simples cuartos con muros de piedra y lodo, indicando una pequeña comunidad agrícola. Se cree que podría haber sido un punto de paso en las rutas de 
      intercambio entre la Cuenca de México y el Valle de Toluca. Evidencias sugieren que tras el colapso de Teotihuacán, el sitio fue abandonado abruptamente.<br><br>
      La zona arqueológica se ubica en el municipio de Ocoyoacac, en el kilómetro 45.5 de la carretera Toluca - México, en la parte frontal del restaurante El Parián. Localidad o poblado más cercano Colonia el Bellotal, Municipio de Ocoyoacac.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>