<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\edzna-hr.jpg" />
    <h1>Edzna</h1>
    <p>La zona arqueológica de Edzná, situada en el estado de Campeche, México, este yacimiento arqueológico se
      distingue por su arquitectura única y por haber sido un importante centro ceremonial y administrativo. <br><br>
      Edzná destaca por su gran acrópolis, compuesta por estructuras como la Pirámide de los Cinco Pisos y el Templo de
      los Mascarones. La Pirámide de los Cinco Pisos es particularmente notable por su diseño que combina elementos
      arquitectónicos de diferentes periodos, evidenciando la continuidad ocupacional del sitio a lo largo del tiempo.
      <br><br>
      Edzná también cuenta con un sistema avanzado de canales y estanques para la recolección y gestión del agua, una
      característica ingenieril que subraya la adaptabilidad de la ciudad a su entorno.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>