<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="https://pueblosoriginarios.com/meso/golfo/huasteca/imagenes/teayo.jpg" />
    <h1>Castillo de Teayo</h1>
    <p>Es uno de los sitios más importantes de la Costa del Golfo debido a la pluralidad cultural que se refleja en sus
      restos materiales. Recibe su nombre por la presencia de una estructura o basamento piramidal formado por tres
      cuerpos que rematan en una plataforma superior sobre la que se construyó un templo. <br><br> Aunque al parecer el origen de
      este basamento se da en el Preclásico Temprano, su estilo arquitectónico recuerda tradiciones culturales Huastecas
      y Mexicas. Por otro lado, la escultura tiene fuertes influencias Mayas y Toltecas. Cronología: 900 a 1521 d. C.
      Ubicación cronológica principal: Posclásico Tardío, 1200 a 1521 d. C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>