<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chihuahua-img\cueva-grande-hr.jpg" />
    <h1>Cueva Grande</h1>
    <p>Pertenece también a los asentamientos conocidos como “casas acantilado”, construidos por poblaciones migrantes de
      norte a sur pertenecientes a la cultura Mogollón y tuvo relaciones comerciales además de estar emparentado también
      con Paquimé. Ubicación cronológica principal 1200-1521 d. n. e. <br><br> Esta zona arqueológica se encuentra situada en los
      acantilados del arroyo Garabato, al igual que en Paquime, las construcciones están hechas a base de lodo precolado
      hecho de tierra con sus puertas en forma de T o paleta. Varios de los cuartos son de dos pisos en estructura
      escalonada. <br><br> Se calcula que su construcción se realizo durante los años 1060 y 1205 d. C. La cueva sorprende por su
      tamaño. En su interior alberga un conjunto de cuevas, en cuya entrada se ve una gran casa de dos pisos, muy bien
      conservada, completa y con techo de troncos. Hay otros dos conjuntos que eran de dos pisos, pero que se encuentran
      semiderruidos. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>