<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\yagul-hr.jpg" />
    <h1>Yagul</h1>
    <p> Yagul significa en idioma zapoteco Arbol o Palo Viejo de Ya que significa árbol y Gul, Viejo. Pero los habitantes de 
      la población de Tlacolula lo identifican como Yugul que se compone de: Yu, tierra, pueblo y Gul, Viejo es decir, Pueblo Viejo.
      <br><br> Las principales estructuras y edificios de Yagul fueron distribuidos en diversos planos siguiendo la pendiente del 
      cerro en dirección Norte-Sur Yagul es un sitio importante porque en sus alrededores se han encontrado evidencias de ocupación 
      humana de épocas muy tempranas; sus antecedentes más cercanos son los macizos adyacentes a la actual carretera (sitio Caballito Blanco)
      donde se han encontrado abrigos rocosos con vestigios de pinturas rupestres ligadas a grupos nómadas probablemente de recolectores y
      cazadores que fueron relacionados con los primeros pobladores del valle de Oaxaca.
      <br><br>Se encuentra localizada en el valle de Tlacolula, al sureste de la ciudad de Oaxaca. Para llegar se toma la carretera federal 
      190, Oaxaca-Tehuantepec, y a 36 kilómetros se encuentra una desviación pavimentada hasta el sitio.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>