<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\kanki-hr.jpg" />
    <h1>Kankí</h1>
    <p>El origen del nombre Kankí proviene de un arbusto silvestre con pequeñas flores de color amarillo, y está
      localizado al norte del estado de Campeche, a solo 16 km. de Tenabo. <br><br> Esta zona está rodeada de exuberante
      vegetación y los principales edificios del sitio fueron edificados aprovechando una elevación natural de más de 10
      m. <br><br> Se compone de tres grupos. El Central tiene 10 patios, numerosos chultunes y plataformas bajas y el Palacio; el
      Grupo Norte, con siete estructuras, de las cuales cuatro se encuentran rodeando un patio; y el Grupo del Sapito o
      Cacabbeec, con cinco edificios. <br><br> Otras estructuras importantes son la de la Bóveda de Escalera Invertida y el Conjunto de las Columnas, así como la
      Crestería y la Casa Oriente.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>