<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\cantona-hr.jpeg" />
    <h1>Cantona</h1>
    <p>La zona arqueológica de Cantona es una de las ciudades prehispánicas más antiguas de México. Su 
      nombre se deriva de la palabra náhuatl caltonal, que significa casa del sol. En la parte más alta 
      está la acrópolis, donde existen las principales estructuras de los poderes político, económico y 
      religioso, y las viviendas de sus líderes. La ciudad está formada por patios, juegos de pelota, 
      talleres de obsidiana, templos, calzadas y calles amuralladas, que le permitían ser una fortaleza 
      en época de conflictos e invasiones.
      <br><br> Entre las primeras impresiones registradas sobre el sitio, encontramos las publicadas en 1790
      en las Gacetas de Alzate (Gaceta Literaria de México), donde se hace referencia al nombre de Cantona, y
      no es sino hasta 1855 cuando Henri Louis Fréderic de Saussure (1829-1905 Ginebra) viajero explorador que
      en 1854 visita la zona y deja asentado que: los indios de los alrededores le llaman la Ciudad de o del 
      Cantón. Por consiguiente aun cuando existen otras versiones sobre los orígenes del nombre, no existe ningún
      documento, ni referencia científica alguna que lo justifique, por lo que es preferible, nombrarlo como se 
      le designó desde 1790: Cantona.
      <br><br> Se localiza al norte de la Cueca de Oriental, entre los municipios de Tepeyahualco y Coyoaco</p>
  </ion-card>

  <div id="map"></div>
</ion-content>