<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\hidalgo-img\huapalcalco-hr.jpg" />
    <h1>Huapalcalco</h1>
    <p>Este sitio, el más importante del valle de Tulancingo, presenta cinco ocupaciones diferentes. La primera y más
      antigua corresponde a la prehistoria, específicamente al periodo Cenolítico Inferior. Destaca la presencia de
      puntas de proyectil del tipo Meserve y un hacha de mano fechadas hacia el 7000 a.C., así como las pinturas
      rupestres ubicadas en los acantilados de los cerros la Mesa y el Tecolote. <br><br>
      La segunda ocupación es evidente en un caserío del Preclásico Tardío, mientras que la tercera consiste en un
      asentamiento representado por la Estructura VI, cuyo estilo arquitectónico refleja influencia teotihuacana. Los
      monumentos y cerámicas correspondientes al Epiclásico —650 a 900— pudieran ser parte de los antecedentes de la
      cultura tolteca.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>