<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\calica-hr.jpg" />
    <h1>Calica</h1>
    <p>El nombre Calica (Calizas Industriales del Carmen) corresponde a las siglas de la empresa en cuyos terrenos se
      encuentra el sitio. <br><br> La conservación de la pintura mural en la arquitectura postclásica de Calica permite
      conocer aspectos muy relevantes de la concepción del mundo maya de esa época, en tanto que sus numerosos conjuntos
      residenciales son una evidencia de enorme valor para entender la vida cotidiana de los mayas y la organización de
      sus espacios públicos y privados.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>