<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\quianhuiztlan-hr.JPG" />
    <h1>Quianhuiztlán</h1>
    <p>Asentamiento totonaco (900-1521), con una envidiable vista de la planicie costera, fue sometido primero por los
      toltecas y luego por los mexicas. <br><br> Es un nombre de origen náhuatl y significa El lugar de la lluvia. Esta
      zona tuvo tres funciones: fue ciudad con cerca de 15 mil habitantes; tuvo un cementerio en el que se hallaron
      restos de 78 tumbas dispuestas en tres necrópolis principales y fortaleza, puesto que en todas las estribaciones
      del cerro se pueden observar muros defensivos de diversas dimensiones, hecho que causó admiración a los primeros
      hispanos, por ello lo mencionan en sus relaciones.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>