<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\jalisco-img\ixtepete-hr.jpg" />
    <h1>Ixtépete</h1>
    <p>Es una de las zonas arqueológicas más importantes del Occidente del país, se localiza a unos 30 metros del cruce 
      de Avenida Mariano Otero y Periférico. En este lugar se puede apreciar una estructura de influencia teotihuacana de 
      forma piramidal de 20 metros de largo, 16 de ancho y una altura aproximada de 1.83 metros, que data del siglo V al X de
      nuestra era. Está zona fue descubierta en 1938 por Don José Corona Núñez y por unos ex trabajadores del tranvía y hasta
      1955 se realizaron los primeros trabajos de restauración. Los edificios son cuando menos 7, superpuestos con lapso entre
      cada uno de 52 años, siendo el que los indígenas tenían establecido en su calendario para medir el tiempo, características
      de los grupos aztecas emigrados de Aztlán, el basamento principal guarda semejanza con la Pirámide del Sol de Teotihuacan.
      Estás ruinas corresponden a la época precortesiana, consta de un templo mayor, ubicado al centro. El Ixtepete surge como 
      proyecto de un parque ecológico; en el cual se construyó una barda perimetral para su conservación. <br><br>
      Se localiza a 100 metros del entronque del Anillo Periférico y la calle Mariano Otero en la ciudad de Guadalajara. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>