<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\zaachila-hr.jpg" />
    <h1>Zaachila</h1>
    <p> La zona arqueológica de Zaachila (1200 y 1521 d. C.) fue una Ciudad-Estado, y una de las pocas capitales Mixteco-Zapotecas
      todavía habitadas a la llegada de los españoles. Habitado por grupos Zapotecos, pero con influencia directa de los grupos Mixtecos
      que arribaron a la región. Zaachila, es reconocido como principal, tal como lo menciona la Relación de Tlacolula y la Relación de Mitla
      <br><br> El sitio arqueológico de Zaachila se encuentra ubicado en el centro del poblado del mismo nombre sobre el lado norte de la plaza 
      o zócalo donde se observan tres montículos que definen una plaza ceremonial, pero su extensión real no se ha podido precisar debido a que
      gran parte de los montículos, plazas y construcciones prehispánicas menores han sido utilizadas por los actuales habitantes para hacer
      sus casas, lo que ha contribuido a la destrucción de varias de sus estructuras, a la modificación de montículos y espacios abiertos y 
      sobre todo, al fraccionamiento de la zona arqueológica en pequeñas propiedades particulares, por lo que únicamente se cuenta con un plano
      parcial de lo que pudo haber sido el núcleo central del conjunto ceremonial de El Cerrito.
      <br><br>El sitio arqueológico de Zaachila se localiza a 15 kilómetros al sur de la ciudad de Oaxaca, al norte del zócalo del poblado del mismo nombre.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>