<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\dzibilchaltun.jpg" />
    <h1>Zona arqueologica de Dzibilchaltun</h1>
    <p>
      Dzibilchaltún es un sitio arqueológico maya, ubicado en el estado mexicano de Yucatán, aproximadamente 17
      kilómetros al norte de Mérida, la capital del estado. <br><br>
      El sitio arqueológico alberga un museo, que contiene muchos artefactos mayas hallados en el sitio y su región
      adyacente. Entre estos se cuentan estelas, así como inscripciones de Chichén Itzá y Uxmal. También hay una
      armadura de los conquistadores, vestidos mayas representativos de Chiapas, Yucatán y Guatemala y fragmentos
      originales de una iglesia colonial. El museo alberga una mayor cantidad de artefactos que los de Chichén Itzá o
      Uxmal. <br><br> El Templo de las Siete Muñecas en Dzibilchaltún es el monumento más importante de este Sitio
      Arqueológico Maya. El Templo recibió su nombre por las siete muñecas de arcilla cruda colocadas debajo del piso
      del templo.
    </p>
    <div id="interes">
      <ion-button shape="round" (click)="redirectToDtAR()">Ver en RA</ion-button>
    </div>
  </ion-card>
</ion-content>