<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\tohcok-hr.jpg" />
    <h1>Tohcok</h1>
    <p>Singular ciudad maya, pequeña, rica y muy jerarquizada, que floreció hace doce siglos. Combinó dos estilos
      arquitectónicos peculiares: el Chenes y el Puuc. Destacan las columnas de base circular y las bóvedas y arcos
      falsos muy apuntados, así como los mosaicos y mascarones de compleja filigrana de piedra. <br><br>
      De manera similar a otros sitios, en Tohcok se aprecia la organizada acumulación de fuerza de trabajo y de
      materiales que permitieron la creación de obras monumentales con una tecnología sencilla (equivalente al periodo
      Neolítico).<br><br> En este sitio se conformó una sociedad con pocos
      dirigentes que eran vistos como sagrados por su relación con los dioses. Sin embargo, hubo un gran número de
      personas que aportaron agua, alimentos, productos y esfuerzo muscular. Recuérdese que los mayas no usaron la rueda
      para fines técnicos y tampoco contaron con animales de carga y tiro.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>