<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Tenayuca-I-y-II-hr.jpeg" />
    <h1>Tenayuca I y II</h1>
    <p>La Zona Arqueológica de Tenayuca I-II se encuentra en el Valle de México, específicamente en el municipio de Tlalnepantla, 
      Estado de México. Este sitio arqueológico es conocido por ser un importante vestigio de la cultura mexica (o azteca) 
      y se cree que fue habitado desde el Periodo Posclásico Temprano (circa 900-1200 d.C.). <br><br>
      Uno de los elementos más notables de Tenayuca es el Templo de Ehécatl-Quetzalcóatl. 
      Este templo está dedicado al dios del viento, Ehécatl, que está estrechamente asociado con Quetzalcóatl, la serpiente emplumada. <br><br>
      Además del Templo de Ehécatl-Quetzalcóatl, la zona arqueológica cuenta con otras estructuras y plataformas que se utilizaban con propósitos ceremoniales y rituales.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>