<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\los-melones-hr.jpg" />
    <h1>Los Melones</h1>
    <p>
      Recibe este nombre por la antigua finca El Cerrito de los Melones. <br><br>
      La zona arqueológica de Texcoco es una evidencia clave de la gran ciudad prehispánica de Texcoco, parte de la
      Triple Alianza junto con México-Tenochtitlán y Tlacopan. La ocupación abarca desde las fases Coyotlaltelco hasta
      Azteca III, indicando una presencia desde 600 hasta 1521 d.C. <br><br>
      Texcoco fue la cabecera del reino del Acolhuacan y surgió de la fusión cultural de chichimecas y acolhuas. La
      ciudad tenía influencia sobre 14 centros de población,
      según crónicas históricas. Aunque la evidencia arqueológica es limitada en la superficie, las descripciones de
      Hernán Cortés y Bernal Díaz del Castillo resaltan la grandeza de Texcoco, comparable a México-Tenochtitlán.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>