<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\hidalgo-img\tula-hr.jpg" />
    <h1>Tula</h1>
    <p>Tollan en náhuatl significa cerca del tular o donde abundan los tules, ésta última acepción hace referencia a la
      gran cantidad de personas (se calcula que alrededor de 85 mil) que habitaron la metrópoli. Hacia el año de 1050
      después de Cristo, Tula era la gran capital del altiplano central de Mesoamérica, con casi 16 kilómetros cuadrados
      de extensión, con numerosos edificios públicos, plazas, calzadas y abundantes esculturas y bajorrelieves
      policromados. <br><br> En la parte superior de la pirámide encontramos columnas, pilastras y estatuas colosales, bellamente
      grabadas que se erigen majestuosamente como centinelas divinos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>