<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chihuahua-img\paquime-hr.jpg" />
    <h1>Paquime</h1>
    <p>Paquimé significa en ópata “Lugar de Casas Grandes”. <br><br> Fue un asentamiento prehispánico que influyó en el
      noroeste de la Sierra Madre Occidental; la mayor parte del oeste de Chihuahua y algunas áreas de Sonora, Arizona y
      Nuevo México. Los investigadores calculan que probablemente llegó a tener unos 3,500 habitantes, pero aún se
      desconocen su filiación lingüística y étnica. El sitio es famoso por sus construcciones de adobe y sus puertas en
      forma de T. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>