<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tlaxcala-img\tizatlan-hr.png" />
    <h1>Tizatlán</h1>
    <p>Tizatlán proviene del náhuatl y significa “lugar de la tiza”, nombre con el que se ha conocido al sitio desde su
      fundación (siglo XIII) por un grupo de teochichimecas, el cual se desprende del Señorío (Altepetl) de Ocotelulco.
      <br><br> Tizatlán fue descubierta en 1927 donde pueden apreciarse aún partes del palacio de Xicohténcatl: dos
      altares policromos con la representación de Mictlantecuhtli, Dios del Inframundo; Tezcatlipoca, Dios de la Noche,
      y Camaxtli, principal deidad de los tlaxcaltecas. Las paredes del altar están decoradas con figuras animales y
      humanas. Cabe destacar que es una de las pocas zonas arqueológicas de México donde pueden observarse el uso de
      modernos ladrillos recubriendo la estructura principal del basamento.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>