<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\pilas-hr.jpg" />
    <h1>Las Pilas</h1>
    <p> Esta zona arqueológica fue levantada entre los años del 500 y 650 d.C. con influencias teotihuacanas. <br><br>
      Las Pilas, como sitio arqueológico, es el antecedente más antiguo del actual poblado de Jonacatepec, antes
      conocido como Alameda por la gran cantidad de árboles que existían. A lo largo de varios siglos, la vida
      religiosa, política, social y económica de esta pequeña aldea estuvo determinada por Chalcatzingo, sitio olmeca
      localizado 3 kilómetros al este de Las Pilas, cuando éste, entre los años 700 y 500 antes de Cristo, era el
      santuario y el centro rector más poderoso en toda la región oriente del estado de Morelos. <br><br> Hasta el día de hoy
      sólo se han explorado cuatro estructuras piramidales, dos plazas conocidas como A y B; dos sistemas de captación
      de agua y varios entierros humanos. De estos cuatro aspectos, los últimos son los que caracterizan a Las Pilas.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>