<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\CDMX-img\cerrodelaestrella-hr.jpg" />
    <h1>Cerro de la estrella</h1>
    <p>El sitio recibe el nombre con el que generalmente se conoce al cerro que lo alberga: “Cerro de la Estrella”, 
      data de la época hispánica por una hacienda que se encontraba en sus faldas con este nombre (Hacienda de la Estrella),
      dicha elevación (225 metros de altura) en la época prehispánica tuvo el nombre de Huixchtecatl.
      <br><br> Las fuentes históricas señalan que los antiguos habitantes del altiplano central conocían este lugar con el
      nombre de el Huizachtecatl, que significa lugar de espinos. El sitio fue muy importante debido a que en él se realizaba 
      la ceremonia del Fuego Nuevo, la cual tenía un profundo significado para los pobladores del Altiplano y sus alrededores. 
      La zona se encontraba en el extremo sureste del gran lago de Texcoco. Los estudios arqueológicos revelan que estuvo habitada
      desde el Preclásico Medio (1000 a.C.) hasta la llegada de los españoles.
      <br><br> Se localiza en el sureste de la Ciudad de México. Su acceso es por la calzada Ermita-iztapalapa; antes de llegar a 
      la avenida Rojo Gómez se toma el camino que lleva a El Calvario.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>