<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\dzibilnocac-hr.jpeg" />
    <h1>Dzibilnocac</h1>
    <p>Dzibilnocac es un sitio arqueológico maya ubicado en el estado mexicano de Campeche, a unos 15 kilómetros de la
      ciudad de Dzibalchén. <br><br>
      Los antiguos habitantes construyeron Dzibilnocac en una amplia planicie, por lo que la ciudad presenta un patrón
      urbano caracterizado por un conjunto de patios y de plazas que estaban intercomunicados. <br><br>En la región central de
      los Chenes se ubica la mayor parte de la arquitectura más voluminosa, por lo que la extensión territorial del
      asentamiento tiene peculiares características de construcción, mientras que la expansión urbana se aleja del
      centro, simulando círculos, la volumetría y la calidad arquitectónica va decreciendo hasta llegar a las zonas
      rurales. Se considera que las primeras evidencias de ocupación humana fueron aproximadamente entre los años 500 y
      50 a.C. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>