<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\soma-hr.jpg" />
    <h1>Soledad de Maciel</h1>
    <p> Se cree que se trata de un centro ceremonial ocupado por las culturas de los Tomiles, los Cuitlatecos y los
      Tepoztecas y que fue tan importante como Teotihuacán. <br><br>
      Se calcula que el sitio estuvo ocupado por más de 3000 años y tuvo intercambio con varias culturas prehispánicas.
      Una de sus características más peculiares es que fue edificado empleando como referencia para su trazo los
      planetas y estrellas, específicamente el planeta Venus, el Sol y la Estrella del Norte. <br><br>
      Para su construcción se utilizó una plataforma de adobes con lo que se niveló el terreno para edificar cuatro
      estructuras masivas, las cuales delimitan una plaza que se asocia al norte con el área palaciega y el juego de
      Pelota y al sur con el Cerro de los Brujos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>