<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\slp-img\tamtoc.jpeg" />
    <h1>Tamtoc</h1>
    <p>Aunque es un sitio que se conoce desde la década de los 40´s., es hasta 1993 que se menciona con el nombre oficial de Tamtoc.
      El registro lo realiza el arqueólogo Patricio Dávila Cabrera el 10 de agosto de 1995 con información recuperada por bibliografía, 
      fotointerpretación e informantes. <br><br>
      De acuerdo con sondeos arqueológicos realizados en la zona, el grupo huasteco que se asentó allí, se desarrolló durante toda la 
      época mesoamericana del Preclásico Tardío al Posclásico Tardío (alrededor del 400 a. C. al 1500 d. C.) y se dedicó a la talla y 
      comercio de la escultura, expresión artística de la cual se conservan importantes ejemplos en el sitio, como La Sacerdotisa. <br><br>
      Tamtoc fue habitado por la cultura Huasteca Tének, y tuvo su apogeo entre los años 900 y 1000 de nuestra era. Se encuentra enclavado 
      en el municipio de Tamuín, San Luis Potosí, a 30 minutos del municipio de Ciudad Valles, ubicado en la misma entidad, y a dos horas y 
      media de Tampico, Tamaulipas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>