<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\kinichna-hr.jpg" />
    <h1>Kinichná</h1>
    <p>El complejo Dzibanché-Kinichná se encuentra en una zona de transición entre la selva baja del norte de la
      Península de Yucatán y la selva tropical lluviosa del Petén. <br><br> El asentamiento ocupa una extensión de más de 40 km2
      y se conforma por cuatro grupos de arquitectura monumental: Dzibanché o Grupo Principal, Complejo Central o Grupo
      Lamay, Tutil y Kinichná, grupos que tuvieron funciones específicas, intercomunicados por sacbés o caminos blancos
      mayas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>