<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\cholula-hr.jpg" />
    <h1>Cholula</h1>
    <p>Vigilada por el Popocatepetl y el Iztaccihuatl creció una de las grandes ciudades del mundo prehispánico.
       Su nombre: Cholula. Tollan Chollolan Tlachiualtepetl, la ciudad de los que huyeron donde está el cerro 
       hecho a mano, fue una de las principales ciudades mesoamericanas. En ella habitaron diversas culturas 
       que adoraban a Quetzalcóatl.
      <br><br> El urbanismo en Cholula se da a principios del Clásico, entre el 200 y 450 después de Cristo, 
      cuando se erigió la ciudad planificada con centros ceremoniales, templos-pirámides, plazas, edificios 
      civiles, y es cuando tenemos la primera evidencia de pintura mural como el Mural de los Bebedores. 
      El Gran Basamento piramidal de Cholula, que hoy se encuentra cubierto, es el resultado de un sistema 
      constructivo que se basa en la sobreposición de estructuras. En la última etapa constructiva dentro del 
      Patio de los Altares observamos restos de muros que forman un complejo núcleo habitacional parecido al que 
      conocemos con mayor claridad en Cacaxtla.
      <br><br>Cholula se ubica en el municipio de San Andrés y San Pedro Cholula, en el estado de Puebla, a 15 kilómetros de la capital del estado.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>