<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\ake.jpeg" />
    <h1>Zona arqueologica de Ake</h1>
    <p>
      Ciudad prehispánica que jugó un papel importante en el aspecto político y estratégico durante el período Clásico,
      entre 250 y 900 d.C., ya que se localiza precisamente entre Izamal y la antigua ciudad de Thó (actual ciudad de
      Mérida), sobreviviendo hasta el año 1450 d.C. <br><br> El vocablo maya Aké se refiere a un apellido y por tanto,
      también puede señalar pertenencia a un linaje; en otro sentido, denomina a un tipo de planta (bejuco). <br><br> La
      ocupación en Aké se inició desde el Preclásico tardío (300 a.C. a 300 d.C.) y continuó hasta el posclásico (1300 a
      1450 d.C.). Aké alcanzó un alto nivel urbano desde época muy temprana y sostuvo relaciones con sitios como Izamal,
      al cual se unió mediante un sacbé de 32 kilómetros de largo y su influencia llegó hasta la región de Río Bec, en
      Campeche, y Cobá en Quintana Roo. <br> <br> El sitio arqueológico de Aké está ubicado en el municipio de Tixkokob,
      en el estado de Yucatán, México, 32 km al este - sureste de la ciudad de Mérida.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>