<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\chacmultun-tbn.jpg" />
    <h1>Chacmultún</h1>
    <p> Chacmultún es una palabra de la lengua maya yucateca que significa Montículos de piedra roja, alusión 
      clara a los antiguos edificios del sitio, que se caracterizan por el color rosado de los bloques labrados 
      que revisten y decoran sus fachadas..
      <br><br>También se denomina así al tipo de arquitectura maya que se caracteriza por el excelente labrado 
      de los sillares que revisten a los inmuebles, por los juegos de claroscuros y por el uso de mosaico de 
      piedra, logrado con tamborcillos y bloques rectangulares, figuras humanas y de animales, motivos 
      geométricos, celosías y mascarones de múltiples piezas que decoran las fachadas. La Región Puuc y los 
      asentamientos prehispánicos que en ella prosperaron tuvieron su apogeo entre los años 600 y 1000 después 
      de Cristo (Clásico Tardío). 
      <br><br> El sitio se encuentra a 130 kilómetros al sureste de la ciudad de Mérida. Para acceder se toma 
      la carretera federal 180. Al llegar a Tekax, deber conducirse a las comunidades de Canek, Kancab y Chacmultún.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>