<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\xcaret-hr.jpg" />
    <h1>Xcaret</h1>
    <p>Puerto prehispánico de salida a Cozumel para los numerosos peregrinos al santuario de la diosa Ixchel, y muy
      importante ciudad comercial maya cuyos habitantes navegaron el Caribe hasta las costas de la actual Honduras. Sus
      monumentos muestran el peculiar estilo costero de grandes plataformas con esquinas redondeadas. <br><br>
      Cronológicamente, Xcaret se remonta al Preclásico Tardío, es decir, a los primeros años de la era cristiana,
      cuando sus habitantes vivían cerca de la orilla del mar y se dedicaban principalmente a la pesca y la agricultura
      agrupados en pequeñas comunidades. Para el periodo Clásico (200-900) las comunidades costeras, entre ellas Xcaret,
      alcanzaron un grado mayor de desarrollo social y económico, así como una expresión religiosa más elaborada</p>
  </ion-card>

  <div id="map"></div>
</ion-content>