<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\kohunlich-hr.jpg" />
    <h1>Kohunlich</h1>
    <p>Kohunlich se sitúa entre dos planicies a diferentes alturas. La planicie oriente alberga terrenos de bajos,
      laderas y reservorios de agua para la producción de alimentos, mientras que en la planicie poniente se encuentra
      el asentamiento nuclear con edificios monumentales y conjuntos habitacionales. Con una extensión de 14 km2, la
      ocupación más temprana data del Preclásico (300 a.C.-250 d.C.) en la Plaza Yaxná, con arquitectura estilo Peten.
      Durante el Clásico Temprano, destaca el Edificio de los Mascarones con crestería y mascarones de estuco. <br><br> El
      Clásico Tardío evidencia el máximo crecimiento poblacional con estructuras cívico-ceremoniales y conjuntos
      residenciales. En el Posclásico, hay construcción de plataformas en espacios ceremoniales y evidencia de
      convivencia entre edificios abandonados y áreas habitadas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>