<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\teopanzolco-hr.JPG" />
    <h1>Teopanzolco</h1>
    <p>El nombre Teopanzolco es de origen náhuatl y está compuesto por partículas “teopan” que significa templo; “zolli”
      que significa viejo y “co” que es un locativo, por lo que la palabra Teopanzolco quiere decir “en el templo
      viejo”. <br><br> Teopanzolco fue en tiempos prehispánicos un importante centro politíco-religioso, vecino de la
      antigua Cuauhnahuac. Los habitantes de esta tierra eran denominados por los demás pueblos, como Tlahuicas. A
      mediados del siglo XIII vinieron asentarse en la parte oeste de Morelos, procedentes del mítico Aztlan. El
      monumental basamento sobre el cual se elevaban los templos gemelos de Tlaloc y Huitzilopochtli fue construido a la
      imagen del templo mayor de Tenochtitlan. <br><br> El recinto de lado Norte era mas bajo y era dedicado a Tlaloc, deidad de
      la lluvia. El de lado Sur, consagrado al Huitzilopochtli, deidad de la guerra, era considerado como el templo
      principal. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>