<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tabasco-img\pomona-hr.jpg" />
    <h1>Pomoná</h1>
    <p>Esta ciudad se localiza en las inmediaciones del Usumacinta, por ello jugó un papel importante en la relación
      política y económica de su región, que comprende una porción de El Petén. Uno de los recursos importantes de
      Pomoná fue la agricultura, práctica que se facilitó debido a que se encuentra en la región de aluviones. <br><br> En otros
      lugares de la zona maya se desarrolló una importante tecnología para lograr mejores cosechas en diferentes
      circunstancias, por ejemplo, mediante terrazas, campos levantados etcétera, que permitieron buenos resultados en
      terrenos difíciles. La región alcanzó su apogeo en el Clásico Tardío (600 a 900 d.C.), a diferencia del de El
      Petén que data del Formativo Tardío (100 a.C. a 250 d.C.). </p>
  </ion-card>

  <div id="map"></div>
</ion-content>