<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\chakanbakan-hr.png" />
    <h1>Chankanbakan</h1>
    <p>El nombre original del sitio se desconoce. La parte central de la ciudad se encuentra rodeada por la laguna Om.
      Chakanbakán es el nombre de otra laguna situada al norte del sitio arqueológico, proviene de la lengua maya y
      significa rodeado de sabana. <br><br>
      La ciudad maya de Chakanbakán está considerada dentro de la extensión geográfica del estilo Río Bec, sin embargo,
      el estilo imperante en el sector nuclear es el Petén. Aparentemente el sitio arqueológico no ha sido estudiado con
      anterioridad al INAH; las primeras investigaciones de esta institución, efectuadas por Fernando Cortés, se
      producen a partir de los años ochenta.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>