<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets/img/tulum.jpg">
    <h1>Zona arqueologica de Tulum</h1>
    <p>El sitio arqueológico de Tulum está asentado en la costa oriental del estado de Quintana Roo, en la región
      conocida como la Riviera Maya. <br><br>La ciudad recibía en la antigüedad el nombre maya de Zamá (que significa en maya amanecer) y el actual, Tulum (que
      significa en maya muralla), que parece haber sido utilizado para referirse a la ciudad cuando ya se encontraba en
      ruinas. Por los numerosos registros en murales y otros trabajos encontrados en los edificios de la ciudad, se
      tiene considerado que Tulum fue un importante centro de culto para el llamado "dios descendente". </p>
    <div id="interes">
      <ion-button shape="round" (click)="redirectToTulumRA()">Ver en RA</ion-button>
    </div>
  </ion-card>
</ion-content>