<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\playacar-hr.jpg" />
    <h1>Zona arqueologica de Playa del Carmen</h1>
    <p>Playa del Carmen o Xamanhá fue uno de los primeros poblados vistos por los conquistadores españoles a principios
      del S. XVI. Tuvo una ubicación privilegiada frente a la isla de Cozumel y se cree que puede haber sido uno de sus
      puertos de embarque. <br><br> Era un extenso asentamiento de construcciones de mampostería y plataformas para casas de
      madera y palma, cuyos habitantes estuvieron dedicados principalmente a actividades pesqueras y agrícolas; sus
      edificios están organizados en ocho grupos alineados en una franja ubicada entre las dunas costeras y la selva, a
      distancias de unos 300 metros uno del otro.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>