<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\puebla-img\cerritos-hr.webp" />
    <h1>Los Cerritos de San Cristóbal Tepatlaxco</h1>
    <p>El sitio recibe el nombre de la población más próxima y deriva de las palabras náhuatl tecpan- palacio, 
      tlachtli- juego de pelota y co- lugar, Tecpantlaxco se traduce como “en el juego de pelota del palacio”.
      No obstante, existe otra interpretación que considera que su nombre deriva del vocablo Tepatlaixco que 
      significa “llano donde abundan los pedregales” o “cercados de piedras. Comúnmente es conocido como “Los
      Cerritos de San Cristóbal Tepatlaxco”.
      <br><br> Realmente se conoce poco de la historia de los antiguos pobladores del sitio. Los estudios realizados
      consisten básicamente en la exploración de las estructuras A, Talud Este y Montículo B, así como la excavación
      de tres pozos estatigráficos ubicados en los alrededores. Por los manantiales allí encontrados, se ha ubicado
      tentativamente la ocupación del sitio para la fase Tezoquipan (300 a. C. a 100 d. C.). Pese a que no comparte
      por completo todas las características de dicha fase, los estudiosos del área suponen que esto puede deberse
      a la proximidad del asentamiento con Tlalancaleca, ciudad prehispánica contemporánea que bien pudo influir 
      en el estancamiento de Tepatlaxco.
      <br><br>Se localiza a 2 km de San Martín Texmelucan, en la falda del Cerro Totolqueme perteneciente a el poblado de San Cristóbal Tepatlaxco  </p>
  </ion-card>

  <div id="map"></div>
</ion-content>