<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\oxtankah-hr.jpg" />
    <h1>Oxtankah</h1>
    <p>Es la ciudad prehispánica más grande e importante que se ha descubierto en la bahía de Chetumal. Los primeros
      grupos mayas asentaron su residencia en Oxtankah alrededor del año 600 a. C., permaneciendo ahí hasta 1100 d.C. En
      ese espacio temporal acontecieron tres momentos de alta densidad poblacional: Preclásico tardío (300-50 a.C.)
      Clásico temprano (250-600 d.C.) y Clásico tardío-terminal (600-900 d.C.). <br><br>
      El área nuclear del asentamiento comprendía por lo menos diez plazas y dos patios hundidos delimitados por
      edificios, más de treinta estructuras aisladas y un cenote.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>