<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\mitla-hr.jpg" />
    <h1>Mitla</h1>
    <p> Mitla o Mictlán es una palabra de origen náhuatl que significa lugar de muertos; para el zapoteca de los valles centrales
      se conoce como Liobaa que significa casa de tumbas. La primera restauración del Grupo de las Columnas se llevó a cabo por 
      Leopoldo Batres de 1901 a 1902. La investigación arqueológica realizada por Alfonso Caso y Daniel Rubín de la Borbolla, 
      entre 1934 y 1935, sirvió de base para fechar éste y el resto de los conjuntos del sitio.
      <br><br> Cuando decae Monte Albán a partir del año 750 después de Cristo, Mitla fue una de las ciudades donde se concentró
      el poder político y religioso de los zapotecas de los valles centrales hasta le llegada de los españoles. Evidencias 
      arqueológicas como pinturas tipo códice plasmadas en los dinteles del Conjunto de la Iglesia, objetos de oro y cerámica
      policroma encontradas en las excavaciones, indican una fuerte influencia cultural mixteca en la época posclásica.
      <br><br>Para llegar Mitla se toma desde Oaxaca la carretera Panamericana que va al istmo de Tehuantepec; 42 kilómetros 
      más adelante hay una desviación a mano derecha que lleva directamente a la zona arqueológica.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>