<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\atzompa-hr.jpg" />
    <h1>Atzompa</h1>
    <p>Desde la ciudad de Oaxaca tomar el camino a San Pedro Ixtlahuaca y recorrer 1 km hasta encontrar la señalización 
      que conduce a la zona arqueológica.
      <br><br> El conjunto monumental de Atzompa se encuentra en el municipio de Santa María Atzompa, 
      Oaxaca, entre los vértices 16 al 31 del plano que delimita el polígono de protección de la zona arqueológica de Monte 
      Albán. El nombre de Atzompa proviene de los vocablos nahuas atl (“agua”), tzontli (cabeza) y pan (“lugar”), cuyo 
      significado es “sobre la cabeza del agua”, denominación otorgada por la cultura mexica durante su expansión en 
      el Valle de Oaxaca, ocurrida en el periodo Posclásico. Atzompa es un asentamiento zapoteco que pertenece a la ciudad 
      prehispánica de Monte Albán. Su periodo de ocupación se sitúa en la época IIIB-IV (650-850).
      <br><br> Se localiza en la cima del cerro El Bonete, en el municipio de Santa María Atzompa, a 4 km de Monte Albán.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>