<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\xpuhil-hr.jpg" />
    <h1>Xpuhil</h1>
    <p>Conocida por su arquitectura distintiva y su relevancia histórica, Xpuhil alberga estructuras notables como la
      Estructura I, un templo piramidal con tres torres que se elevan majestuosamente. <br><br>
      La Estructura I destaca por su diseño tríptico único, con tres torres que se elevan en la parte superior de la
      pirámide. Cada torre contiene una serie de habitaciones y pasillos, y la estructura en su conjunto revela la
      complejidad arquitectónica y ceremonial de la civilización maya. <br><br>
      Xpuhil también cuenta con otras estructuras que incluyen plazas, palacios y una cancha de juego de pelota,
      elementos que indican la importancia de este sitio como un centro ceremonial y administrativo en la región. Las
      inscripciones jeroglíficas presentes en Xpuhil han proporcionado valiosa información sobre la historia y la
      cultura de la sociedad maya.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>