<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\balamcanche-hr.jpg" />
    <h1>Balancanché</h1>
    <p> Uno de los conjuntos subterráneos más importantes de la región. Es una caverna que se utilizó como centro 
      ceremonial de los antiguos pobladores mayas. El pasaje de entrada desciende abruptamente a una profundidad 
      de 10 metros. Las partes exploradas de la gruta comprenden más de un kilómetro de senderos. A lo largo de 
      este corredor los pasajes se interrumpen ocasionalmente por grandes cámaras de más o menos 10 metros de 
      altura y 25 de ancho.
      <br><br>A 200 metros de la entrada se encuentra el Trono de Balam, una especie de altar donde los mayas 
      llevaban a cabo algún tipo de ceremonia y al cual se debe el nombre de las grutas. También hay un lago 
      semiseco donde yacen esparcidas ofrendas mayas, conchas y trozos de jade. 
      <br><br> Se localiza a 6 km de Chichén Itzá y a 35 km. de Valladolid.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>