<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\izapa-hr.jpg" />
    <h1>Izapa</h1>
    <p>Una de las principales zonas arqueológicas de Chiapas fundada alrededor del año 1500 A.C. A lo largo de 1000 años
      fue el más grande e importante centro civil y religioso de la Llanura del Pacífico. Ordenadas a lo largo del
      frente de los edificios, en las diferentes plazas se encuentran 253 grandes monumentos de piedra de las cuales la
      mayoría han sido esculpidas. Hay 89 estelas paradas y grabadas con elaboradas escenas de la antigua religión. <br><br> Al
      pie de las estelas normalmente se encuentra un altar de piedra en forma de sapo, disco o escuadra, que en total
      suman 90. Hay 3 tronos grandes de piedra con 4 pies y con decoraciones de cabezas humanas u otras figuras en el
      borde del asiento. Las escenas y otras representaciones grabadas en los monumentos en el estilo izapeño son de
      gran importancia para entender la vida antigua de esta vieja ciudad y el arte que contienen representa un paso en
      la evolución entre el arte Olmeca que apareció muchos años antes de la escultura de Izapa y el arte maya que vino
      después. El tiempo estimado en el recorrido es de un día. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>