<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\monte-alban-hr.jpg" />
    <h1>Monte Albán</h1>
    <p> Monte Albán fue la ciudad más importante de la cultura zapoteca que floreció durante la época prehispánica. El emplazamiento
      principal se encuentra distribuido sobre tres cerros naturales conocidos con los nombres de Monte Albán, El Gallo y Bonete,
      éste último también es llamado Atzompa.
      <br><br> Monte Albán fue la ciudad más importante de la cultura zapoteca que floreció durante la época prehispánica. El 
      emplazamiento principal se encuentra distribuido sobre tres cerros naturales conocidos con los nombres de Monte Albán, El
       Gallo y Bonete, éste último también es llamado Atzompa. Los asentamientos más tempranos que han sido registrados en esta 
       zona se remontan aproximadamente hacía del año 500 al 100 antes de Cristo. La Plataforma Norte. Es la estructura más grande
        de Monte Albán una enorme construcción rectangular hecha de piedra y tierra. Monte Albán fue el centro urbano más grande de 
        los valles centrales de Oaxaca y se convirtió en el principal eje rector de la región. El corazón de la ciudad está representado
         en un enorme espacio llamado Gran Plaza
      <br><br>Monte Albán se localiza ocho kilómetros al oeste de Oaxaca, sobre un macizo montañoso; la única área abierta al público es el conjunto monumental conocido como la Gran Plaza. En 1987 Monte Albán fue incluida en la lista del Patrimonio Mundial de la UNESCO. En 1993, mediante decreto presidencial, el gobierno mexicano lo declaró zona de monumentos arqueológicos con un área protegida de 2,078 hectáreas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>