<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Tlapacoya-tbn.jpg" />
    <h1>Tlapacoya</h1>
    <p>Tlapacoya tiene una ocupación que se remonta al periodo precerámico (hacia el 1500 a.C.),
      lo que lo convierte en uno de los sitios más antiguos de Mesoamérica. La ocupación continúa 
      hasta épocas más recientes, abarcando varias fases culturales. <br><br>
      El sitio fue descubierto en la década de 1930 durante trabajos 
      de construcción. Las excavaciones arqueológicas posteriores revelaron una 
      secuencia estratigráfica rica en evidencias de actividades humanas a lo largo del tiempo. <br><br>
      Tlapacoya se encuentra a orillas del lago Chalco, en el Valle de México. Está cerca de la 
      ciudad de México y forma parte de la cuenca de México, una región históricamente rica en civilizaciones precolombinas.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>