<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\calixtlahuaca-hr.jpg" />
    <h1>Calixtlahuaca</h1>
    <p>Ciudad matlazinca muy próspera, entre el imperio mexica y la zona purépecha. Conquistada por los mexicas en 1474,
      sus restos corresponden a esta época. Destacan el Templo de Ehécatl-Quetzalcóatl, de bordes curvos y con un
      tzompantli. <br><br>
      El sitio conserva rastros de los diversos grupos que ahí convivieron, tales como otomíes, teotihuacanos, toltecas,
      mazahuas, matlatzincas y nahuas. Se han encontrado más de 50 petroglifos relacionados con símbolos del agua,
      fuego, viento, o bien, que refieren a deidades como Ehécatl Quetzalcóatl. <br><br>
      Calixtlahuaca cuyo significado en náhuatl es “lugar de casas en la llanura”.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>