<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Santa_cecilia_acatitlan.jpg" />
    <h1>Santa cecilia acatitlan</h1>
    <p>Santa Cecilia Acatitlán, cuyo nombre significa "en el lugar de los carrizos" en náhuatl, fue vinculado a Tenayuca y 
      luego subyugado por Tenochtitlan. El sitio presenta una arquitectura similar a Tenayuca, con cuerpos escalonados y 
      escalinata de acceso hacia el poniente con doble alfarda. El edificio principal fue consolidado y restaurado para resaltar la arquitectura de la época y la monumentalidad del basamento.<br><br>
      Santa Cecilia Acatitlán fue explorada arqueológicamente en 1923 y 1924, y luego en su totalidad por Eduardo Pareyón en 1961. Aunque no hay menciones prehispánicas o históricas del lugar, 
      se cree que fue abandonado antes de la llegada de los españoles en el siglo XVI. Fundado alrededor del año 1200 d.C. por grupos chichimecas mezclados con sobrevivientes toltecas, el 
      asentamiento prosperó en agricultura y pesca gracias a su ubicación cerca de las riberas del lago. La reconstrucción del basamento piramidal, liderada por Pareyón, muestra una escalinata 
      doble y un templo en la cima. El sitio incluye una piedra de sacrificio, escultura de Chac Mool y basamento más antiguo al norte.<br><br>
      Se ubica en el Callejón del Tepozteco sin número, pueblo de Santa Cecilia Acatitián, municipio de Tlalnepantia. Se toma el eje central Lázaro Cárdenas hasta donde termina, para seguir por el antiguo camino a Santa Cecilia.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>