<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\yautepec-hr.jpeg" />
    <h1>Yautepec</h1>
    <p>De acuerdo a la interpretación de su glifo, Yautepec significa “en el cerro del yauhtli”, de yauhtli=planta
      silvestre de color amarillo que actualmente se conoce como “pericón”; y tepetl=cerro.<br><br>En la zona
      arqueológica se encuentra un edificio que hoy se visita ya que fue uno de los lugares más importantes de la ciudad
      prehispánica del Yautepec durante el periodo postclásico medio y tardío, así como también es el único que se ha
      conservado. <br><br> Además, este edificio fue importante porque desde este lugar los habitantes del Yautepec podían
      ejercer el control político y social sobre el resto de la población.
      Cabe mencionar que durante el período postclásico la ciudad de Yautepec se extendió abarcando alrededor de 197
      hectáreas donde pudieron haber vivido alrededor de 11,500 personas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>