<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\chacchoben-hr.jpg" />
    <h1>Chacchoben</h1>
    <p>No se tienen evidencias que permitan conocer el nombre que tuvo el sitio en la época prehispánica, por lo cual se
      retomó el nombre del Ejido donde se ubica, y que puede traducirse del maya como “Lugar del maíz colorado”.
      <br><br>
      El asentamiento de Chacchoben en la Región de los Lagos es de gran importancia, con una ocupación que comenzó
      alrededor del 300 a.C. durante el Preclásico tardío. Se presume que la traza urbana y la construcción de las
      principales estructuras ocurrieron en los primeros años del Clásico temprano (alrededor del 250 d.C.). Con
      alrededor de 70 hectáreas, el núcleo del asentamiento alberga conjuntos arquitectónicos públicos con funciones
      cívicas, religiosas y administrativas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>