<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\iglesia-vieja-hr.jpg" />
    <h1>Iglesia Vieja</h1>
    <p>Este lugar es de particular importancia ya que se localiza en un punto intermedio en la ruta comercial entre el
      Sur del Área Maya, el Altiplano Mesoamericano y la depresión central chiapaneca. Se trata de un área con
      evidencias de obras arquitectónicas compuestas con grandes bloques de piedra de hasta 2 metros, y mayores a una
      tonelada, que rompen toda norma de la arquitectura mesoamericana conocida. <br><br> En Iglesia Vieja se han localizado
      cerca de 30 monumentos escultóricos, entre ellos, uno que cumplía la función de altar y que tiene labrada la
      cabeza de una serpiente y tres rostros humanos; además se hayan representaciones de animales fantásticos y una
      serie de esculturas menores de estilo olmeca. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>