<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guanajuato-img\plazuelas-hr.jpg" />
    <h1>Plazuelas</h1>
    <p>Recibe este nombre debido a que se ubica en San Juan el Alto Plazuelas. <br><br>
      El sitio arqueológico de Las Plazuelas, en Guanajuato, está compuesto por siete edificios distribuidos en tres
      laderas, separadas por barrancas. En la ladera oeste, hay una cancha de juego de pelota y terrazas habitacionales.
      En la ladera este, destacan edificios como Los Cuitzillos, El Cajete, La Crucita y El Cobre. La ladera central,
      abierta al público, alberga el complejo Casas Tapadas y elementos de una casa habitación. También se encuentran
      grabados rupestres, destacando La Maqueta, que reproduce Casas Tapadas. <br><br> La ciudad tuvo su apogeo entre los años
      450 y 700 d.C., pero fue quemada y desacralizada posteriormente. Plazuelas sigue siendo enigmática, con diseños
      ornamentados que evocan el culto a dioses como Tláloc, dios de la lluvia, y una combinación de elementos que
      reflejan la complejidad del pensamiento mesoamericano.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>