<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\hidalgo-img\pahnu-hr.jpg" />
    <h1>Pahñú</h1>
    <p>Pahñú es un sito que se localiza en la comunidad de La Mesilla, Municipio de Tecozautla, Hidalgo. Por los rasgos
      estilísticos de la cerámica y la arquitectura, la población asentada en este lugar estaba emparentada
      culturalmente con poblaciones de la región del Bajío, principalmente con la región de Acámbaro y el desarrollo
      Preclásico llamado Chupícuaro-Mixtlan. <br><br>
      Temporalmente es contemporánea de la ciudad de Teotihuacán, pero sigue un desarrollo paralelo e independiente que
      le permite sobrevivir al colapso de la urbe de la Cuenca y mantener las redes comerciales trazadas en la región,
      por lo que llegó a convertirse en una unidad regional importante en el Epiclásico. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>