<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\CDMX-img\mixcoac-hr.webp" />
    <h1>Mixcoac</h1>
    <p>Mixcoac, “lugar donde se venera a la serpiente de nube”, es un sitio de filiación mexica, el cual alcanzó su 
      apogeo en el periodo posclásico, entre el año 900 y el 1521 d.C. El asentamiento se encontraba a las orillas 
      del lago de Texcoco y estaba regido por las autoridades de la Gran Tenochtitlan. Con la llegada de los 
      conquistadores españoles, el asentamiento fue prácticamente destruido hasta sus cimientos, los cuales son 
      lo único que sobrevive de la arquitectura del lugar y puede apreciarse hoy en día.
      <br><br> Este importante sitio prehispánico ha sido investigado por más de un siglo. La primera descripción 
      de los vestigios se hizo en 1916, por el historiador Francisco Fernández del Castillo, quien denominó al sitio
      como Mixcoac, al identificar el topónimo de “La serpiente de nubes” en el Mapa de Uppsalao de Santa Cruz, 
      elaborado en 1550. Posteriormente, en 1920, el arqueólogo Eduardo Noguera, por designación de Manuel Gamio,
      entonces director de Monumentos Prehispánicos, encabezó la primera excavación arqueológica para estudiar 
      el gran montículo que era visible en el paraje al sur de Tacubaya, y que era conocido como “el teocallide
      San Pedro de los Pinos”.
      <br><br> Pirámide 7 esq. Av. San Antonio y Periférico, Col. San Pedro de los Pinos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>