<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\muyil-hr.jpg" />
    <h1>Muyil</h1>
    <p>Es un asentamiento que por su posición geográfica mantuvo una larga continuidad ocupacional. Las primeras
      evidencias materiales corresponden al Preclásico tardío (300 - 50 a.C.), cuando habría tenido vínculos con
      asentamientos del norte de Belice y sur de Quintana Roo, relación que se rompe hacia el Clásico tardío, cuando se
      fortalece su relación con el interior de la Península de Yucatán y tiene un importante crecimiento demográfico,
      que se relaciona a la construcción de algunos de los edificios que se conservan actualmente. <br><br>
      Para el Clásico temprano (250 - 600 d.C.), Muyil era ya una importante ciudad en la que se construyeron
      importantes edificios de estilo Petén, como El Castillo y los tres basamentos del Grupo de la Entrada. Por su
      ubicación estratégica, hacia el Posclásico temprano (1000 - 1200 d.C.), mantuvo algunos contactos, con Chichén
      Itzá primero, y con Mayapán después. En el Postclásico tardío (1200 - 1450 d.C.), se construyeron la mayoría de
      los edificios conocidos, y cuando la ciudad cobró gran importancia al insertarse en las redes comerciales costeras
      de la Península.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>