<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\tres-zapotes-hr.JPG" />
    <h1>Tres Zapotes</h1>
    <p>Este sitio arqueológico es considerado como uno de los más importantes en la llanura costera del Golfo de México;
      es el único que abarca toda la secuencia cronológica desde su ocupación en el Preclásico, durante el Formativo
      Temprano, 1300 a 1000 antes de Cristo, hasta el Posclásico Temprano, 900 a 1100 después de Cristo aproximadamente.
      Es uno de los pocos sitios testigos de la transición entre la cultura Olmeca y la Cultura Clásica de Veracruz.
      <br><br>
      Desde un principio tallaron cabezas colosales de basalto que obtenían en la Sierra de los Tuxtlas, donde se le
      daba la primera forma para ser transportada por cientos de personas al mando de especialistas en ingeniería, hasta
      su destino final, en el cual esculpían las facciones y los elementos del casco que la iban a diferenciar de las
      demás. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>