<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\hormiguero-hr.JPG" />
    <h1>El Hormiguero</h1>
    <p>Hormiguero es el nombre que ha recibido un yacimiento arqueológico de la cultura maya precolombina, ubicado en el
      municipio de Calakmul, en el estado de Campeche, México. <br><br> Hormiguero toma su nombre de un campamento
      chiclero que
      existió cerca de los vestigios arqueológicos en la década de los 30, del siglo pasado, cuando Karl Ruppert y John
      Denison recorrieron la región.<br><br> Su principal característica arquitectónica es un edificio cuya fachada está
      dividida en tres, quedando al centro un gran mascarón flanqueado por torres de esquinas redondeadas con
      escalinatas simuladas típicas de esta región. El mascarón presenta, a manera de entrada al templo, una boca
      monstruosa abriendo sus fauces, concepto que se interpreta como umbral entre el mundo exterior y el inframundo.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>