<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\Uxmal-hr.jpg" />
    <h1>Uxmal</h1>
    <p> Uxmal es conocida por su distintivo estilo arquitectónico Puuc. Este estilo se caracteriza por el uso extensivo 
      de piedra caliza en la construcción, así como la presencia de frisos decorativos y detalles ornamentales en las 
      fachadas de los edificios.
      <br><br> Una de las estructuras más impresionantes de Uxmal es la Pirámide del Adivino. Se trata de una pirámide 
      escalonada con una escalinata en cada lado. La leyenda local sugiere que la pirámide fue construida en una sola 
      noche por un enano que era hijo de una bruja.
      <br><br>Este conjunto de edificios en Uxmal, conocido como el Cuadrángulo de las Monjas, es uno de los conjuntos 
      arquitectónicos más notables. Consiste en varias estructuras rectangulares dispuestas alrededor de patios.
      <br><br>Uxmal se sitúa al sur de Mérida, la capital del estado de Yucatán, México. Forma parte de la Ruta Puuc, 
      una zona que comprende varias ciudades mayas con características arquitectónicas similares.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>