<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\tenam-puente-hr.jpg" />
    <h1>Tenam-Puente</h1>
    <p>Tenam proviene de la voz náhuatl tenamitl cuyo significado es “fortificación”, “muro” o “defensa”. <br><br> La
      zona nuclear del asentamiento se compone de un poco más de 60 estructuras distribuidas en una extensión de
      aproximadamente 30 hectáreas la mayor parte de estos edificios y los más importantes se encuentran localizados en
      lo que se denomina Acrópolis. <br><br>
      Está construida en una posición estratégica, sobre una montaña que domina la planicie comiteca que se extiende
      hasta los Lagos de Montebello y para la construcción de esta Acrópolis fue necesario nivelar las colinas por medio
      de altas y largas terrazas construidas a diferentes niveles, que conforme se asciende se reducen en cuanto a
      extensión y altura. <br><br> Sobre estas diferentes plataformas fueron construidas plazas abiertas y cerradas, plazuelas y
      patios, mismos que fueron delimitados por diversas construcciones. Destaca la presencia de sus tres juegos de
      pelota, así como la Acrópolis con sus estructuras 4 y 7.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>