<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\yaxchilan-hr.jpg" />
    <h1>Yaxchilán</h1>
    <p>Yaxchilán es un ejemplo del apogeo de las ciudades estado mayas durante el Clásico Tardío. La importancia de
      Yaxchilán no radica solamente en la belleza de arquitectura, sino también en sus 124 textos distribuidos en 30
      estelas, 21 altares, 59 dinteles y siete inscripciones diversas, elaboradas en este periodo. <br><br> Los textos narran el
      establecimiento de alianzas o conflictos bélicos, pero principalmente, estos monumentos contienen textos
      jeroglíficos y representaciones de los protagonistas de los diversos eventos, principalmente de los gobernantes,
      entre los que destacan Escudo Jaguar I (681 a 742 d. C.). Pájaro Jaguar IV (752 a 768 d. C.) y Escudo Jaguar II
      (771 a 800 d. C.). Ubicación cronológica principal: Clásico Tardío, 600 a 800 d. C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>