<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets/img/veracruz-img/cempoala-hr.JPG" />
    <h1>Cempoala</h1>
    <p>Cempoala deriva del nahua y
      significa Lugar de veinte; o Veintena y alude, posiblemente, a las actividades comerciales que se hacían cada
      veinte días o a los veinte poblados que integraron el señorío dominado por esta ciudad. Su origen se ubica hacia
      el año 1200 d.C. <br><br> Sus actividades primordiales giraban en torno a la agricultura, la recolección, la caza
      y la
      pesca en los afluentes del río Actopan. La cohesión social en este periodo se fundamenta en el parentesco y la
      división del trabajo que se reparte con base en el sexo y la edad adecuadas a la participación</p>
  </ion-card>

  <div id="map"></div>
</ion-content>