<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\CDMX-img\templo-mayor-hr.jpg" />
    <h1>Templo Mayor</h1>
    <p>El lugar se conoce como Templo Mayor debido a que en este lugar se encuentran los restos de que 
      fue el edificio principal de la antigua ciudad de Tenochtitlán.<br><br>
      Después de 200 años de la salida de Aztlán, los mexica llegaron a la Cuenca de México, asentándose 
      en un islote en la parte media del lago de Texcoco donde fundaron la ciudad de Tenochtitlán en 1325
      d.C., año perteneciente al periodo Posclásico tardío (1200 - 1521 d.C.). A la llegada de los españoles
      al continente americano, la ciudad se encontraba en su apogeo, a pesar de los conflictos que los
      mexicas tenían con otros grupos debido a su política expansionista. La caída del importante centro
      urbano de Tenochtitlán sucedió abruptamente como consecuencia de la conquista española, teniendo 
      como resultado la destrucción física de la ciudad y el exterminio del grandioso imperio azteca.      
      <br><br> El Templo Mayor se caracteriza por haber tenido cuatro cuerpos superpuestos sobre una 
      plataforma general; dos escalinatas orientadas al poniente daban acceso a la parte alta, que 
      constaba de dos adoratorios: uno dedicado al dios de la guerra, Huitzilopochtli y el otro, al 
      dios del agua, Tláloc. Es evidente que la presencia de ambos dioses estaba en relación directa 
      con la sobrevivencia del pueblo. La presencia de estos dioses obedece a las necesidades fundamentales
      del pueblo mexica: la guerra como medio de expansión y control económico de otras regiones, a las 
      que se les imponía un tributo; el agua como elemento natural fundamental puesto que se trataba de 
      un grupo agricultor que había desarrollado técnicas importantes. Mucho se ha hablado de la peregrinación
      de los mexicas desde un lugar llamado Aztlán, aún cuando se ignora la localización exacta de dicho 
      lugar. Lo que se sabe, acorde los códices, es que ahí se formó un numeroso grupo de individuos pertenecientes
      a 7 barrios distintos, quienes fueron por mandato de su dios tutelar Huitzilopochtli, emprendieorn el viaje
      para fundar una ciudad. Así pues, a mediados del siglo XII los aztecas comenzaron su peregrinaje dejando su
      cultura por el actual Jalisco, Michoacán, Morelos, Tula, Chapultepec y Culhuacán, hasta llegar finalmente 
      en 1325 d.C. al lago de Texcoco, lugar señalado por su deidad.
      <br><br> La zona arqueológica se encuentra al costado oriente de la Catedral Metropolitana (frente al Zócalo),
      en el Centro Histórico de la Ciudad de México, colindando con las calles de Guatemala, Donceles, Licenciado Verdad y Seminario.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>