<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\cuajilote-hr.jpg" />
    <h1>Cuajilote</h1>
    <p>“Cuajilote” es el nombre de un árbol que hay en abundancia en la región Totonaca el cual se conoce como chote.
      <br><br> Este sitio Totonaca es uno de los por lo menos, seis sitios arqueológicos que se localizan en la zona
      conocida como Filobobos, en la porción central de la cuenca del Río Nautla. <br><br> Debido a la topografía, las corrientes
      de agua han modelado un relieve de pequeños valles con suelos profundos y fértiles, lo que por otro lado favoreció
      el establecimiento de una ruta de comunicación entre el centro de México y la Costa del Golfo.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>