<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\teopantecuanitlan-hr.jpg" />
    <h1>Teopantecuanitlán</h1>
    <p>Se denominó como Teopantecuanitlán debido a una reunión que tuvieron los pobladores vecinos del sitio para
      decidir éste. En náhuatl es traducido como “El lugar del templo de los dioses jaguares”. <br><br>
      Teopantecuanitlan fue un centro cívico-religioso que debió mantener un poder regional desde el año 1250 al 600
      antes de Cristo. La extensión de su asentamiento ocupa entre 160 y 200 hectáreas de la calle de Tlalcozotitlan. Es
      notable por su arte monumental de estilo olmeca, incorporado a la arquitectura. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>