<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\calakmul-hr.jpg" />
    <h1>Calakmul</h1>
    <p>Esta zona se ubica en el centro de la Reserva de la Biosfera de Calakmul en el sureste del estado de
      Campeche.<br><br>Calakmul significa en maya “Dos Montículos Adyacentes” (Ca dos, Lak adyacentes, Mul montículo
      artificial o
      pirámide), nombre que hace referencia a las dos grandes estructuras que dominan la selva. <br><br>Calakmul fue un
      importante centro político-religioso del período clásico y llegó a ser la capital de un estado regional con
      sesenta mil habitantes y ejerció su influencia desde el Petén guatemalteco hasta el norte de Yucatán. Esta zona es
      comparada en importancia con Tikal y con Palenque. <br><br>
      Sus imponentes estructuras y su trazado global característico se hallan en un estado de conservación admirable y
      ofrecen una vívida imagen de lo que era la vida en una antigua capital maya.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>