<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\hochob-hr.jpg" />
    <h1>Hochob</h1>
    <p>Hochob es un sitio arqueológico maya ubicado en el estado mexicano de Campeche, a unos 10 minutos de la ciudad de
      Dzibalchén, en la región denominada Los Chenes. <br><br> Los vestigios conocidos de este pequeño asentamiento se
      encuentran sobre una colina natural de unos 30 metros de altura que domina amplias y fértiles sabanas de tierra
      roja (kankab). Las laderas fueron modificadas con terrazas y nivelaciones en las que se construyeron viviendas de
      varias dimensiones y a las que se dotó de chultunes o aljibes subterráneos para agua de lluvia. <br><br>
      La ocupación del sitio inició alrededor del año 300 de nuestra era y finalizó en el 1000. Su época de apogeo
      ocurrió entre los años 600 y 900, cuando se erigieron los edificios monumentales que hoy podemos ver. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>