<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <ion-card>
    <img src="assets/img/qroo-img/san-gervasio-hr.jpg">
    <h1>San Gervasio</h1>
    <p>
      Es el centro prehispánico más importante y mejor estudiado de los asentamientos documentados en la Isla de
      Cozumel. <br><br>
      San Gervasio es considerado el centro de peregrinaciones de los mayas que rendían culto a la diosa "Ixchel".
      Además, fue un sitio estratégico para el comercio y el desarrollo político del área. La zona está constituida por
      seis conjuntos arquitectónicos y otros templos aislados, que son de gran interés y te dan una idea de cómo los
      mayas desarrollaban sus actividades administrativas, religiosas y la vida diaria que se unen por una red de Sacbes
      o caminos blancos. <br><br>
      San Gervasio es llamada así en referencia al antiguo rancho ganadero en donde fueron localizados estos vestigios
      de la cultura maya en Cozumel.
    </p>
  </ion-card>
  
  <div id="map"></div>
</ion-content>