<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tlaxcala-img\tecoaque-hr.jpeg" />
    <h1>Tecoaque</h1>
    <p>Tecoaque proviene del vocablo náhuatl cuyo significado ha sido interpretado como “lugar en donde se comieron a
      los señores o dioses”. <br><br> Situado en una loma en la sierra nevada de Mal País y abarcando aproximadamente 80
      hectáreas, su ubicación estratégica en el este de la cuenca del valle de México le otorgó un papel crucial en el
      control y flujo de mercancías hacia Teotihuacan, Texcoco y Tenochtitlan durante sus respectivos períodos de
      apogeo. <br><br> La arquitectura del sitio muestra una clara influencia teotihuacana, ya que los antiguos habitantes se
      establecieron durante la época de auge de esta gran urbe y la abandonaron en su declive. Gracias a excavaciones
      recientes, hallazgos arqueológicos e interpretaciones de fuentes coloniales del siglo XVI, se ha identificado con
      precisión el nombre verdadero del sitio, que es Sultepec y no Tecoaque como se le conocía en la época colonial.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>