<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\chicanna-hr.jpg" />
    <h1>Chicanná</h1>
    <p>La zona arqueológica de "Chicanna", ubicada en el estado de Campeche, México, destaca por su arquitectura única y
      su singular estilo arquitectónico conocido como el "Estilo Río Bec". <br><br> Este sitio maya cuenta con estructuras
      notables, entre las que se destaca la Pirámide de los Mascarones, adornada con mascarones de monstruos tallados en
      la piedra, que le confieren un carácter distintivo. La presencia de estas esculturas y relieves en las fachadas de
      los edificios sugiere una influencia cosmogónica en la iconografía maya. <br><br> Chicanna es un testimonio fascinante de
      la compleja sociedad y la expresión artística de la civilización maya que prosperó en la región.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>