<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\CDMX-img\tlatelolco-hr.jpg" />
    <h1>Tlatelolco</h1>
    <p>Descripción:
      El área ha sido llamada, a partir de los años sesenta, como la Plaza de las Tres Culturas, ya que reúne en sí los
      valores históricos de los tres grandes períodos del decurso nacional: el México Prehispánico, el Colonial y el 
      Moderno. Del primer momento tenemos la presencia de más de 27 edificios completos, presididos por las distintas 
      etapas constructivas del Templo Mayor.      
      <br><br> Taltelolco fue el centro comercial más importantes del México prehispánico; su nombre proviene del náhuatl 
      tlatelli, terraza o de xaltilolli, punto arenoso. De acuerdo con fuentes etnohistóricas, los xochimilcas, chalcas, 
      tepanecas, culhuas, tlahuicas, tlaxcaltecas y los mexicas fueron los grupos que emigraron de Aztlán, el lugar de la 
      blancura. Estos buscaban la tierra que les había prometido su dios Huitzilopochtli.
      <br><br>La zona arqueológica está al norte del Centro Histórico de la Ciudad de México, en la Plaza de las Tres Culturas, sobre el Eje Lázaro Cárdenas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>