<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\tzintzuntzan-hr.jpg" />
    <h1>Tzintzuntzan</h1>
    <p>La ciudad prehispánica de Tzintzuntzan, fue sin lugar a dudas una de las poblaciones más grandes e importantes a
      la llegada de los españoles en el siglo XVI, siendo la capital del Señorío Tarasco, lugar desde donde se tomaban
      las más importantes decisiones políticas, económicas y religiosas de un amplio territorio que abarcaba casi la
      totalidad del estado de Michoacán, partes de Guerrero, Estado de México, Guanajuato y Jalisco. <br><br> La antigua ciudad
      de Tzintzuntzan se construyó mediante amplias terrazas y grandes plataformas que se van acomodando en las laderas
      de los cerros Yarahuato y Tariácueri, sobre las que se desplantaron sus casas y edificios religiosos y
      administrativos. En esta ciudad habitaron los Señores Uacúsechas -Señores Águila-, líderes de este importante
      señorío quienes a través de una dinastía hereditaria lo gobernaron. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>