<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\chiapa-de-corzo-hr.jpg" />
    <h1>Chiapa de Corzo</h1>
    <p>Chiapa de Corzo, ubicado a orillas del río Grijalva en Chiapas, es un importante sitio arqueológico con más de 50
      edificios concentrados en grupos alrededor de plazas. Aunque muchos de sus restos fueron afectados por el
      crecimiento urbano y la construcción de carreteras, se conserva parte de la zona central. Inició como una aldea
      alrededor del 1250 a.C., creciendo para convertirse en uno de los mayores asentamientos zoques. <br><br> Durante su auge en
      la era cristiana, estableció redes comerciales con diversas regiones. Sin embargo, hacia el 400 d.C., perdió
      importancia frente a centros mayas y zapotecos, experimentando un abandono total doscientos años después. Fue
      nuevamente ocupado por los chiapanecas hasta la invasión española en el año 900 d.C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>