<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\tepoltzis-hr.png" />
    <h1>Los Tepoltzis</h1>
    <p>El sitio arqueológico fue bautizado con el nombre del cerro en el que se encuentra. Uno de sus posibles
      significados sería el pequeño conquistador, del náhuatl tepoloani, conquistador, vencedor y tzin, pequeño. Se
      desconoce a que cultura perteneció. <br><br> Los Tepoltzis son el remanente de un centro local conformado de un
      área cívica ceremonial, con una plaza y una serie de plataformas circundantes; alrededor se ubicaba la población
      la población que conformaba este asentamiento, que se extendía por 16 hectáreas. La estructura principal era un
      basamento piramidal de varios cuerpos, construidos con muros de piedra careada. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>