<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\xcalumkin-hr.jpg" />
    <h1>Xcalumkin</h1>
    <p>Los vestigios de la Zona Arqueológica de Xcalumkin, Campeche, cubren una superficie promedio de 10 km² y
      constituyen buenos ejemplos de la arquitectura Puuc, con bloques de caliza bien tallados y ensamblados. Algunos
      edificios fueron decorados con cilindros lisos, grecas o paneles con personajes y jeroglíficos. <br><br> En
      Xcalumkín no se ha encontrado un juego de pelota ni basamentos piramidales grandes. No obstante, la inversión de
      trabajo visible en sus construcciones nos habla de un control sobre los alrededores, de donde debió obtener buenas
      cosechas de maíz, frijol y algodón, entre otros cultivos, así como importantes cantidades de miel y cera. <br><br> Ello le
      permitió adquirir sal, pescado seco, conchas, caracoles y maderas tintóreas de la región costera (ubicada a unos
      50 km de la costa), así como cinabrio, jadeíta, basalto y obsidiana de regiones más lejanas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>