<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\tabasqueno-hr.JPG" />
    <h1>El Tabasqueño</h1>
    <p>El tabasqueño es una zona Arqueológica localizada en el norte del estado de Campeche y está ubicada en el
      municipio de Hopelchén a 170 km de la Ciudad de Merida y a 123 km de la Ciudad de Campeche. <br><br>
      El sitio fue llamado así por el explorador austriaco Teobert Maler en 1887, quien fue el primero en reportar las
      ruinas aludiendo a una persona de Tabasco que vivía en el lugar. <br><br> La fachada
      norte del Palacio Templo es uno de los mejores ejemplos de la arquitectura Chenes. Muestra un gran mascarón de
      mosaico de piedra que es el Mounstro de la Tierra (Itzimna) abriendo las fauces. La deidad es además replicada en
      ambas esquinas con cascadas de mascarón es de nariz ganchuda. <br><br> El Palacio Templo tiene diez habitaciones;
      ocho en el primer nivel y dos en la segunda planta. Arriba solo se conserva el aposento del templo que mira al
      norte, el del sur colapso años atrás. Realzando la monumentalidad del inmueble, en la azotea hubo un muro calado o
      cestería con figuras de estuco, pero hoy solo se conserva parcialmente.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>