<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\chhb-hr.jpg" />
    <h1>Chunhuhub</h1>
    <p>Chunhuhub es el nombre de un sitio arqueológico precolombino de la cultura maya ubicado en el estado de Campeche,
      en México. <br><br>
      Su nombre maya significa “Junto al Caracol” (chun-junto a, huhub-caracol), aunque algunos lo interpretan como
      “raíz del árbol pinus caribea”, conocido en la región como “Huhub”, ya que en maya chun también puede
      interpretarse como raíz de árbol. <br><br>
      Consta de varias estructuras: aquella denominada El Palacio, la más relevante, tiene dos niveles con 13 aposentos
      abovedados, en cuya fachada principal hay un friso de motivos geométricos alternando con relieves zoomorfos
      asemejando murciélagos. Algunos muros de los aposentos conservan el estuco original y el zócalo sobre el que se
      levanta la estructura adornada con grecas, cuadros y columnillas. Las estructuras del sitio representan un buen
      ejemplo de la arquitectura Puuc.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>