<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img
      src="assets/img/qroo-img/coba-hr.jpg">
    <h1>Coba</h1>
    <p>Cobá es un yacimiento arqueológico de la cultura maya precolombina, localizado en el sureste de México, en el
      territorio que hoy es el estado de Quintana Roo, unos noventa kilómetros al este de Chichén Itzá y unos cuarenta
      al noroeste de Tulum. <br><br> Cobá significa agua picada, debido al sistema de lagunas y cenotes que existen
      dentro del sitio arqueológico. Cuenta con dos grandes lagunas, Cobá y Makanxoc, que fueron fuente de agua para
      riego y contribuyeron al esplendor de esta ciudad maya. <br><br>
      Entre edificios y estelas con relieves de prisioneros e inscripciones calendáricas y de sucesos memorables, llaman
      la atención dos grandes edificios por su volumen y altura. Uno es el Nohoch Mul, en el grupo del mismo nombre, y
      otro el conocido como “la Iglesia”, en el Grupo Cobá. Los arquitectos mayas y la multitud de albañiles, cortadores
      de piedra y acarreadores de agua y piedra, así como los caleros (trabajadores de la cal), nos legaron majestuosas
      construcciones en extraordinario equilibro con la naturaleza vigorosísima.</p>
  </ion-card>
  <div id="map"></div>
</ion-content>