<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\ihuatzio-hr.jpg" />
    <h1>Ihuatzio</h1>
    <p>Ihuatzio es un sitio construido en una meseta artificialmente nivelada con una gran cantidad de trabajo invertido
      para ello. Se localiza en la ribera oriente del lago de Pátzcuaro. La primera ocupación del sitio correspondió a
      grupos de habla náhuatl y con influencia tolteca. Estos grupos habitaron las islas y las riberas del Lago de
      Pátzcuaro hasta la llegada de los purhépecha. <br><br> El sitio se distingue por la presencia de arquitectura
      singular como son los huatziri, caminos elevados que delimitaron espacios y sirvieron como senderos al interior
      del sitio. Otra de sus características es la gran extensión de su área nuclear, comparada con los demás
      asentamientos localizados en las riberas del Lago de Pátzcuaro, además de que es la única de las tres cabeceras
      del imperio purhépecha, donde se ha encontrado escultura monumental. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>