<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\qroo-img\san-miguelito-hr.jpg" />
    <h1>San Miguelito</h1>
    <p>Antiguo sitio de ocho siglos, en donde los exploradores han encontrado su impresionante Palacio de Chaac, casi 50
      entierros y una gran variedad de artefactos, tanto locales como foráneos (de obsidiana, cuarzo, cerámica, de coral
      y caracol), testimonio de su importancia comercial. <br><br> Los conjuntos más importantes del sitio están
      presididos por palacios con amplios espacios interiores y un vestíbulo con columnas que sostenían un techo plano,
      innovación arquitectónica características de los edificios construidos entre los siglos XIII y XVI en la costa
      oriental de Quintana Roo. Estos edificios estaban destinados a funciones públicas, pues eran recintos abiertos, se
      habían equipados con banquetas y se encontraban frente a un adoratorio en el que se realizaban ceremonias y
      celebraciones en las que participaba la población.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>