<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\Oxkintok.hr.jpg" />
    <h1>Oxkintok</h1>
    <p>La ocupación de Oxkintok abarca desde el periodo Preclásico Tardío hasta el Posclásico Tardío, con 
      evidencia de actividad continua a lo largo de los siglos. 
      <br><br> Al igual que otras ciudades en la región Puuc, Oxkintok presenta un estilo arquitectónico 
      distintivo conocido como "estilo Puuc". Este estilo se caracteriza por el uso de piedra caliza para 
      la construcción, así como por la presencia de frisos decorativos y detalles ornamentales.
      <br><br>Uno de los elementos más destacados en Oxkintok es la Gran Pirámide, también conocida como 
      la Estructura II. Esta pirámide tiene un templo en la parte superior y ofrece una vista panorámica 
      del área circundante.
      <br><br> Oxkintok se encuentra en la región Puuc, al sur de Mérida, la capital del estado de Yucatán. 
      Está relativamente cerca de otras ciudades mayas importantes como Uxmal y Sayil.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>