<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tabasco-img\malpasito-hr.jpg" />
    <h1>Malpasito</h1>
    <p>
      Malpasito fue ocupado durante el periodo Clásico Tardío, entre los años 700 a 900 después de Cristo. Este sitio
      funcionó como punto de cohesión de asentamientos menores ubicados en el valle de Las Flores, favorecidos, además
      de la abundancia de recursos naturales, por condiciones propicias para la explotación agrícola, así como por la
      cercanía del río Grijalva, que fue una de las principales vías de comunicación entre las costas del Pacífico y el
      Golfo de México. <br><br> Sin embargo, es posible que Malpasito estuviera sujeto a sitios de mayor importancia ubicados en
      el noroeste de Chiapas, como pueden ser los de San Antonio o San Isidro, con los que comparte rasgos culturales en
      cuanto a la cerámica y características arquitectónicas. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>