<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\baja-california-img\vallecito-mural.jpg" />
    <h1>El Vallecito</h1>
    <p> El Vallecito es un sitio arqueológico con increíble arte rupestre en la ciudad de La Rumorosa, Baja California.
      <br><br>
      El Vallecito es considerado uno de los más importantes de la región. El sitio tiene muchas pinturas rupestres o
      petroglifos hechos por los habitantes de la antigua península. Se sabe que el territorio fue ocupado por grupos
      nómadas que vivían en la región y que basaban su existencia en la caza y recolección de frutos, semillas, raíces y
      mariscos. <br><br>
      Las rocas están decoradas con figuras blancas, negras y rojas son "fotografías" realizadas hace tres mil años,
      cuando varios flujos migratorios penetraron la región de Baja California, conocida como Quechan que provenía de lo
      que hoy es Estados Unidos. <br><br>
      Este sitio está compuesto por 23 conjuntos, entre los cuales se destacan las famosas pinturas rupestres presentes
      en cinco abrigos rocosos: El Tiburón, El Diablito, El Hombre Enraizado, La Cueva del Indio y Solecitos.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>