<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\cuyuxquihui-hr.jpg" />
    <h1>Cuyuxquihui</h1>
    <p> Este asentamiento
      mantuvo una posición importante en la región hasta que fue conquistado por los mexicas al mando de Moctezuma
      Ilhuicamina, en 1465. La zona forma parte de varios sitios que fundaron después del abandono de la ciudad de El
      Tajín. En el caso de Cuyuxquihui se han identificado estructuras arquitectónicas similares a fortificaciones, por
      lo que se interpreta que diversos movimientos migratorios fueron acompañados de conflictos bélicos entre
      determinados grupos.<br><br> El nombre de Cuyuxquihui proviene de
      la lengua
      totonaca: cuyu armadillo y quihui palo, madera o árbol; árbol de armadillo, en alusión a un árbol que florece en
      las montañas inmediatas y cuya corteza es similar a la caparazón de este animal.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>