<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\kabah-hr.jpg" />
    <h1>Kabah</h1>
    <p>Kabah está ubicada al sur de Uxmal, otra importante ciudad maya, y forma parte del área conocida como la Ruta Puuc.
      <br><br>Su apogeo se sitúa en el periodo Clásico Tardío de la civilización maya, entre los años 600 y 1000 d.C. 
      Al igual que otras ciudades en la región Puuc, Kabah presenta un estilo arquitectónico distintivo conocido como 
      "estilo Puuc". Este estilo se caracteriza por el uso extensivo de piedra caliza para la construcción, así como 
      por la decoración con frisos y detalles ornamentales. 
      <br><br> Una de las estructuras más notables en Kabah es el "Palacio de los Mascarones" (Palacio Codz Poop). 
      Este edificio destaca por la presencia de numerosas máscaras de Chaac, la deidad de la lluvia en la mitología 
      maya, que decoran su fachada.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>