<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\san-miguel-ixtapan.jpg" />
    <h1>San Miguel Ixtapan</h1>
    <p>El nombre del lugar significa Iztatl-sal y pan- lugar Lugar en donde hay sal, hace referencia a la importancia que 
      la explotación de este recurso natural tenía desde la época prehispánica, debido primordialmente a la existencia de 
      pozos de agua salitrosa cerca nos a la población. <br><br>
      Como resultado de las investigaciones en el lugar, se han detectado al menos cuatro etapas de ocupación. La primera 
      de ellas corresponde a los últimos años del periodo conocido como Clásico (500 a 750 d.C.) y está conformada por restos 
      de una estructura habitacional donde se recuperaron figurillas de los tipos Teotihuacan III y IV. La segunda etapa ocupacional 
      corresponde al periodo Epiclásico (750-900 d.C.), que es el momento de mayor auge del sitio, cuando son construidas las principales 
      estructuras del lugar. Para las últimas etapas de ocupación, hacia el Posclásico temprano (900-1200 d.C.), son reutilizados los principales
      monumentos, sufriendo modificaciones arquitectónicas, adosamientos y ampliaciones. <br><br>
      Se localiza en el municipio de Tejupilco, a 115 km de la ciudad de Toluca, Estado de México, por la carretera federal número 134. Está ubicado a unos 15 km de la cabecera municipal, por la carretera estatal número 8 que conduce a Amatepec.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>