<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\becan-hr.jpg" />
    <h1>Becan</h1>
    <p>Es un sitio arqueológico maya ubicado en el Estado Mexicano de Campeche. <br><br> Se caracteriza por estar rodeada
      por un foso, único en el área maya, lo que, para algunos investigadores, da testimonio de una continua actividad
      bélica entre esta y otras ciudades de la región, y que, para otros, representa una clara división espacial de las
      clases sociales, con el área interior, donde se levantan los edificios de arquitectura monumental, reservada para
      la élite. <br><br>
      Es considerada una capital regional dentro de la zona arquitectónica Río Bec. Una peculiaridad del sitio es un
      túnel de 66 metros de longitud, que une dos de las plazas principales de esta ciudad.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>