<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\Labna-hr.jpg" />
    <h1>Labná</h1>
    <p>Al igual que otras ciudades de la región Puuc, Labná tuvo su apogeo durante el periodo Clásico Tardío de la 
      civilización maya, aproximadamente entre los años 600 y 1000 d.C.
      <br><br> La arquitectura de Labná refleja el estilo Puuc, que se caracteriza por el uso extensivo de piedra 
      caliza para la construcción, así como por la presencia de frisos decorativos y detalles ornamentales. Este 
      estilo es único en la región maya.
      <br><br> Labná es conocida por su "Arco de Labná" (Arco de Labná), un arco triunfal que servía como acceso 
      a la ciudad. Este arco es un ejemplo impresionante del talento arquitectónico de los antiguos mayas y está 
      decorado con motivos geométricos y figuras estilizadas.
      <br><br>Labná está ubicada en el estado de Yucatán, México, al igual que otras ciudades mayas destacadas como
       Uxmal y Kabah. Forma parte de la Ruta Puuc, una región conocida por su estilo arquitectónico distintivo. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>