<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chichen-itza.jpeg" />
    <h1>Chichen Itza</h1>
    <p> Chichén Itzá (del maya yucateco: Chi' Ch'e'en Its Ja' 'Boca del pozo de los brujos del agua') es uno de los
      principales sitios arqueológicos mayas de la península de Yucatán, en México. Se encuentra a escasos 2.5 km de la
      localidad de Pisté, en el municipio de Tinum, en el estado de Yucatán, al sureste del país. <br><br>
      Consistió en una ciudad o un centro ceremonial que pasó por diversas épocas constructivas e influencias de los
      distintos pueblos que la ocuparon y que la impulsaron desde su fundación. <br><br>
      Chichén Itzá llegó a abarcar 25 km2. El centro religioso, cultural y administrativo abarcaba unos 6 km2; a poca
      distancia del mismo habitaba la élite, en edificios tipo palacio, decorados con esmero y pintados de colores
      brillantes. Alrededor de éstos, en verdes campos, vivían entre 50 mil y 100 mil personas en palapas de techo de
      palma. <br><br>
      El Cenote Sagrado, era el corazón de las actividades religiosas, no solo de la ciudad de Chichén Itzá sino de toda
      la zona maya. Fue motivo de culto al dios de la lluvia, Chaac, desde el período Clásico Tardío en 650 d.C. y
      continuó hasta fines del Postclásico, en 1350 d.C. De su fondo cenagoso han sido extraídos objetos de oro, jade,
      cobre, tela y cestería que aparentemente fueron arrojados como ofrendas ceremoniales.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>