<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tlaxcala-img\cacaxtla-hr.jpeg" />
    <h1>Cacaxtla</h1>
    <p>El significado etimológico del nombre de la zona arqueológica proviene del vocablo náhuatl cacaxtli que significa
      instrumento utilizado para cargar mercancías. De la primera temporada podemos apreciar el Edificio B con sus tres
      cuerpos y talud; la fachada principal de esta pirámide se encuentra orientada hacia el oeste. <br><br> En la parte
      alta
      sólo quedan pilares y paredes; en la excavación de 1990 se liberó la zona superior donde fueron descubiertas dos
      cistas con ofrendas dedicadas al dios Tláloc, ya que los materiales son conchas, caracoles marinos y el mascarón
      del dios elaborado en obsidiana y piedra verde. También se recuperaron varias vasijas de gran tamaño con asas
      horizontales y verticales. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>