<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\zacatecas-img\la-quemada-hr.jpeg" />
    <h1>La Quemada</h1>
    <p>El término hace referencia a los restos quemados encontrados en el lugar al extraer piedra para la construcción
      de la hacienda. <br><br> La zona arqueológica de La Quemada está compuesta por numerosas plataformas de
      mampostería de varias dimensiones adosadas al cerro, utilizadas como basamentos para estructuras superiores. En el
      lado sur y sureste, hay una concentración de edificaciones ceremoniales, incluyendo complejos de plataformas con
      patio hundido y altar-pirámide, características propias de la arquitectura mesoamericana. En el lado oeste, se
      encuentran plataformas o terrazas que parecen corresponder a estructuras habitacionales más que ceremoniales. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>