<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\xochicalco-hr.jpg" />
    <h1>Xochicalco</h1>
    <p>La ciudad fue construida sobre una colina que se eleva a 130 m. sobre la planicie circundante, todo el cerro fue
      modificado artificialmente mediante cortes, rellenos y muros de contención, para formar terrazas que dieron al
      sitio el aspecto de un basamento piramidal de dimensiones geológicas. De ésta forma, en la parte superior se
      crearon grandes espacios nivelados en los que se asentaron las plazas y los principales edificios públicos y
      religiosos, así como suntuosos conjuntos residenciales para las clases gobernantes, religiosas y militares. En el
      resto de las terrazas se asentó la población de menor rango. <br><br> Los relieves de las serpientes emplumadas en
      el templo del mismo nombre sugieren influencias Teotihuacanas y Mayas. Por otro lado su posición en lo alto de una
      montaña, al igual que otros centros poblacionales de esa época, sugiere un período de conflictos bélicos entre
      ciudades con pequeños territorios, ante la ausencia de una urbe hegemónica, sin embargo esta interpretación ha
      sido refutada recientemente en favor de los elementos simbólicos y territoriales cerro, agua, asentamiento.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>