<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\huamuxtitlan-hr.jpg" />
    <h1>Huamuxtitlán</h1>
    <p>El nombre del sitio deriva de la palabra en náhuatl que significa Entre guamúchiles. Fue sede de un señorío
      tlapaneco-nahua. <br><br> Ubicada al margen del río Tlapaneco, esta zona arqueológica es el remanente de un núcleo
      poblacional que fue ocupado desde el año 1200 (periodo Posclásico) por grupos tlapanecas que sostenían relaciones
      comerciales con grupos mixtecos. En la segunda mitad del siglo XVI, tras la llegada de los ejércitos de conquista
      de Nezahualcóyotl, Huamuxtitlán se constituyó como el bastión de la Triple Alianza en el área, como lo demuestra
      la arquitectura y las ofrendas asociadas que reflejan la ideología bélica del Centro de México.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>