<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\Bocana-del-rio-copalita-hr.jpg" />
    <h1>Bocana del río copalita</h1>
    <p>Se encuentran vestigios arqueológicos que datan del año 900 A .C. a 1000 D.C., como el juego de pelota, ubicado en 
      la porción central del predio, así como un edificio al sur. Una piedra popularmente conocida como de los sacrificios 
      está al borde del acantilado, con una vista espectacular que domina la costa.
      <br><br>Este sitio prosperó en los primeros siglos de nuestra era para luego decaer aproximadamente en el año 650, 
      cuando fue abandonado. Posteriormente fue reocupado en el año 1000, y hacia 1,100 quedó bajo sujeción del señorío 
      mixteco de Tututepec, al mando de el Señor Ocho Venado del pueblo Ñu savi (mixteco) y según documentos del siglo 
      XVI muestran que los habitantes de Copalitlán, tributaban a él, oro en polvo, plumas y otros materiales producidos e
      n la comunidad.
      <br><br> Se ubica a 10 kilómetros de las Bahías de Huatulco. En Boulevard Copalita-Tangolunda tramo 15 Bahías de 
      Huatulco, Oaxaca, es parte de las instalaciones del Parque Eco-Arqueológico Copalita.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>