<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\xcambo.jpg" />
    <h1>Zona arqueologica de Xcambó</h1>
    <p>
      Xcambó (X'Cambó) es un yacimiento arqueológico que se encuentra ubicado en el municipio de Dzemul en el estado
      mexicano de Yucatán. Es considerada por los expertos como una de los yacimientos de mayor extensión en la costa
      norte peninsular, contando con edificios de grandes dimensiones. <br><br> La ciudad precolombina de Xcambó se ha
      definido como un puerto que fue importante para el desarrollo comercial y salinero de su época, principalmente
      durante el periodo clásico temprano. <br><br>
      En el yacimiento se encuentra una plataforma llamada el Templo de la Cruz, basamento escalonado con una cruz en su
      parte superior. También otro basamento en cuya parte superior está el denominado el Templo de los Sacrificios, así
      como un cierto número de enterramientos que al descubrirse se encontraron con ofrendas ricas en cerámica foránea
      (polícromos de Guatemala y figurillas femeninas de la isla de Jaina).
    </p>
  </ion-card>
  
  <div id="map"></div>
</ion-content>