<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\jalisco-img\guachimontones-hr.jpg" />
    <h1>Guachimontones</h1>
    <p>
      Otro nombre que recibe esta zona es el de Guachimontones; es un asentamiento localizado en el municipio jalisciense
      de Teuchitlán que se caracteriza por su peculiar estilo arquitectónico: basamentos cónicos escalonados y patios circulares
      que integran además un Juego de Pelota y varias terrazas y edificios. De acuerdo con los especialistas el patrón arquitectónico
      de Teuchitlán está compuesto por una pirámide central, un patio circular elevado que rodea la pirámide, una banqueta circular
      que rodea el patio, entre ocho y doce plataformas rectangulares sobre la banqueta y criptas funerarias subterráneas debajo de 
      algunas plataformas. Cronología: 100 a.C. a 600 d.C. Ubicación cronológica principal: Clásico Temprano: 200 a 400 a.C. <br><br>
      Al poblado de Teuchitlán se llega desde Guadalajara, tomando la autopista N°15, al poniente de la ciudad. En el cruce con la Carretera
      Federal núm. 70 rumbo a Tala, hacia el sur poniente, es necesario desviarse, para posteriormente tomar la carretera estatal núm. 27 que 
      dirige a Teuchitlán. El sitio se localiza a 1 kilómetro al noreste del pueblo de Teuchitlán. Se entra por la calle Hilarión Romero Gil 
      luego por Zaragoza y finalmente por Benito Juárez. El visitante puede arribar al sitio por medio del transporte público, sin embargo, 
      este deberá caminar a la entrada del sitio.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>