<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\chinkultic-hr.jpg" />
    <h1>Chinkultic</h1>
    <p>Chinkultic. El topónimo puede significar “caverna con descensos” derivada de Chen - “caverna”, y koeltik -
      “descensos”, aunque también puede ser traducido desde el tojolabal que significa “nuestro pequeño monte”. <br><br>
      Chinkultic es un sitio arqueológico con una arquitectura adaptada a la topografía del terreno, dividido en cuatro
      conjuntos arquitectónicos. El Conjunto A, conocido como El Mirador, domina el sitio, con la Acrópolis en la cima.
      El Conjunto B destaca por la Plaza Hundida, mientras que el Conjunto C alberga el Juego de Pelota y la Gran
      Plataforma. El Conjunto D presenta un gran basamento piramidal y la Plataforma de las Lajas, compuesta por bloques
      de piedra cortada. <br><br> Chinkultic se ha analizado como un sitio de las Tierras Altas Mayas que perdura más allá del
      colapso del Clásico Tardío. Se destaca la presencia de cerámica Plumbate Tohil, asociada a la influencia tolteca.
      Cronológicamente, abarca desde el 50 a.C. hasta el 1200 d.C., con un enfoque principal en el Epiclásico, entre el
      750 y el 900 d.C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>