<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chihuahua-img\cueva-olla-hr.jpeg" />
    <h1>Cueva de la Olla</h1>
    <p>Recibe este nombre por el granero de magnas dimensiones que se encontró, cuya forma redondeada recuerda la de una
      gran vasija. Impresionante vestigio de una ocupación que, en la zona, se remonta a 5,500 años a.C., el más antiguo
      de Aridamérica y de todo México. Sobresale el gran granero comunal en forma de vasija, un prodigio de la
      conservación, con estructura de hojas secas retorcidas recubiertas de barro. <br><br>
      La Cueva de la Olla tiene en su vestíbulo un área plana donde se construyeron siete recintos. Se divide en dos
      grandes ramas (donde no existen vestigios de estructuras) que debieron ser utilizadas para usos múltiples a pesar
      de ser áreas obscuras y frías. En la rama norte se encontraron esqueletos humanos, pues era costumbre regional
      enterrar a los muertos cerca o dentro de sus habitaciones. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>