<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tamaulipas-img\las-flores-hr.jpg" />
    <h1>Las Flores</h1>
    <p>Las Flores es una zona arqueológica que ha sido seriamente afectada por el desarrollo de la ciudad de Tampico. De
      hecho, sólo se conserva el edificio principal, que fue, sin duda, un importante asentamiento huasteco en la época
      prehispánica. <br><br> Es un montículo redondo con una serie de estructuras superpuestas, es decir, construidas
      sucesivamente una sobre otra en distintas épocas. Estas superposiciones, que seguramente fueron el producto de
      necesidades religiosas y/o sociales, se encontraban separadas por un núcleo de tierra y cubiertas con estuco de
      cal. En total, el edificio muestra 11 escaleras superpuestas, casi todas limitadas por alfardas, una palpable
      evidencia de la prolongada ocupación del lugar. <br><br> Cabe señalar que, en tanto que las primeras estructuras
      sostuvieron un adoratorio redondo, la última contenía uno cuadrangular con un pórtico de tres accesos. Pertenece a
      la cultura huasteca, del periodo Clásico (1000-1200 d. C.), y entre los hallazgos significativos destaca una
      escultura de la Diosa de la Fertilidad o Teem, que se encuentra exhibida en el Museo Regional Potosino del INAH.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>