<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\huamelulpan-hr.jpg" />
    <h1>Huamelulpan</h1>
    <p> Huamelulpan se distingue por su arquitectura y escultura monumental, así como por sus inscripciones calendáricas. Su 
      ocupación ha sido dividida en tres periodos: Huamelulpan I, de 400 a 100 a. C.; Huamelulpan II, de 100 a. C. a 200 d. C., 
      en el cual tuvo una gran expansión demográfica, y Huamelulpan III, de 200 a 600 d. C., periodo en el que su tamaño disminuye 
      pero continúa la construcción de edificios. La ciudad fue construida sobre un sistema loma-cerro con terrazas en las laderas
      de la elevación natural ya mencionada. Estaba organizada en conjuntos arquitectónicos monumentales separados en tres núcleos
      principales y dos secundarios.
      <br><br> La fundación de esta ciudad prehispánica se remonta al año 400 antes de Cristo. Fue un centro urbano importante 
      hasta el año 800 después de Cristo. Durante la etapa urbana temprana, Huamelulpan y los principales centros Mixtecos
      mantuvieron relaciones complejas y variables con Monte Albán y el valle de Oaxaca. Hacia el año 200 después de Cristo
      algunos centros de la Mixteca sufrieron un abandono parcial o total y entre 400 y 800 después de Cristo hubo otro 
      periodo de florecimiento de centros urbanos en el que Huamelulpan y otros sitios perdieron sus relaciones estrechas
      con Monte Albán y las establecieron con centros de la Mixteca Baja, que a su vez estaban relacionados con grupos de
      Puebla y tal vez la cuenca de México. Ésa es la etapa en que se desarrolló la cultura Ñuiñe de la Mixteca Baja. En
      el Posclásico la ciudad ya estaba abandonada y sólo se utilizaba algunas estructuras para entierros suntuarios.
      <br><br> San Martín Huamelulpan se ubica al Oeste de la Ciudad de Oaxaca, a 146 kilómetros por la Supercarretera 131-D hasta 
      entroncar en Nochixtlán con la Carretera Federal 190. Continuar por ésta rumbo a Huajaupan de León y desviarse a la izquierda
      por la Carretera Federal 125 con rumbo a Tlaxiaco. Se cruza la ciudad de Teposcolula y kilómetros más adelante se desvía a la
      izquierda en el entronque hacia San Martín Huamelulpan. Tiempo aproximado desde la ciudad de Oaxaca a esta población es de 2 
      horas, 10 minutos y desde Huajuapan de León es una hora 45 minuto</p>
  </ion-card>

  <div id="map"></div>
</ion-content>