<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\tres-cerritos-hr.jpg" />
    <h1>Tres Cerritos</h1>
    <p>
      Debido a que el sitio de Tres Cerritos es unos de los pocos asentamientos excavados de forma sistemática en la
      cuenca de Cuitzeo, los datos que de se han obtenido de este lugar, han contribuido de forma significativa para
      comprender diversas etapas a nivel regional. A partir de las actividades antes referidas, se ha establecido que en
      este asentamiento, existieron por lo menos dos importantes periodos de ocupación. <br><br> El primero de ellos esta
      asociado con los desarrollos locales de Cuitzeo, momento en que el sitio funge como un importante centro
      ceremonial. Cabe precisar que, durante este tiempo, en la región existían una serie de asentamientos pequeños que
      no destacan entre si, lo que indica la falta de un asentamiento que concentrara el poder en la región. Durante la
      primera etapa, se observan elementos cerámicos y arquitectónicos que guardan gran similitud con aquellos
      provenientes de Teotihuacán, que, mas que indicar un sojuzgamiento de esta urbe, parecen revelar que su adopción
      fue como un símbolo de estatus por parte de las élites locales.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>