<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\tepozteco-hr.jpg" />
    <h1>Tepozteco</h1>
    <p>Hacia el año 1200 d.C., los Xochimilcas, conocidos como Tepoztecas, construyeron la cabecera del señorío de
      Tepoztlán en la ladera sur de la sierra homónima. La ciudad fue edificada con muros de contención en la pendiente,
      creando niveles sobre los cuales construyeron diversos edificios, incluyendo casas, palacios y templos. Las áreas
      residenciales varían desde simples cuartos con patios hasta estructuras más complejas, indicando jerarquía social.
      El santuario del Dios Tepoztecatl se ubicó en la cima de un peñón, requiriendo obras de nivelación y la
      construcción de plataformas y terrazas. <br><br> El complejo del santuario incluye un templo con una escalera al oeste y
      otra al este, una plaza con restos de un altar, y un área habitacional. El templo en la cima presenta una
      estructura piramidal con escalera de acceso, una antecámara y una cámara, con decoración en relieve y una banqueta
      decorada con relieves a lo largo de los muros internos. La ubicación cronológica principal abarca el Posclásico
      Medio y Tardío, desde 1200 hasta 1521 d.C.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>