<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\coatetelco-hr.JPG" />
    <h1>Coatetelco</h1>
    <p>La traducción del náhuatl, de la palabra Coatetelco significa “Lugar de las serpientes en los montículos de
      piedra” o “Lugar donde hay montículos erigidos en honor a las serpientes”. <br><br>
      El auge de Coatetelco sucedió en el Preclásico Tardío (500-150 antes de Cristo); en ese momento las comunidades
      tenían entre 250 y 500 habitantes; su economía era diversificada y se requirió de una organización sociopolítica
      mucho más compleja. Asimismo había poblados en lugares alejados de los ríos, en éstos se crearon sistemas de
      aprovisionamiento de agua. En la cerámica se aprecian rasgos propios e influencias de la cuenca de México. <br><br> El
      conjunto arquitectónico consta de basamentos piramidales, plataformas y un juego de pelota con núcleos de tierra y
      piedras recubiertos con piedra careada. En algunas partes se conservan los restos del estucado de los muros y
      escaleras. La distribución de las estructuras alrededor de una plaza quedó integrada a la topografía del terreno.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>