<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\lagartero-hr.jpg" />
    <h1>El Lagartero</h1>
    <p>Recibe este nombre por la abundante población de lagartos que hubo en la ciénega. <br><br> La zona arqueológica El
      Lagartero, ubicada en el sureste de Chiapas, destaca por su ocupación humana desde el
      Clásico Temprano hasta el Posclásico Tardío, con un esplendor particular en el Clásico Tardío (700-900). Rodeada
      por lagos y arroyos, la isla El Limonal es el núcleo central del sitio, inmersa en un sistema de ciénagas
      alimentado por ríos y manantiales. <br><br> La arquitectura incluye más de quince pirámides, plazas, plataformas y
      estructuras cívico-religiosas. La piedra utilizada, extraída de cenotes, es suave pero propensa a la erosión. Las
      construcciones habitacionales se extienden alrededor de los lagos. Los antiguos habitantes subsistieron con
      cultivos de maíz, frijol y recursos marítimos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>