<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\michoacan-img\tingambato-hr.jpg" />
    <h1>Tingambato</h1>
    <p>Es uno de los sitios representativos de la etapa anterior al apogeo del señorío tarasco destacando la existencia
      de rasgos claramente teotihuacanos, mezclados con otras tradiciones locales. <br><br> En este sitio destacan la
      construcción de grandes plataformas donde se construyeron basamentos piramidales, juego de pelota, múltiples
      cuartos seguramente habitacionales y varias tumbas donde se hallaron ricas ofrendas. En la historia de la zona
      podemos definir claramente dos etapas, en la primera que va del 450 al 600 d.C cuando se inicia el poblamiento de
      este centro ceremonial. La segunda etapa comprende del 600 al 900 d.C.; en este periodo es evidente la influencia
      teotihuacana. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>