<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guanajuato-img\arroyo-seco-hr.jpg" />
    <h1>Arroyo Seco</h1>
    <p>El sitio arqueológico Arroyo Seco está integrado por una planicie y dos pequeñas elevaciones naturales de
      relevante valor paisajista, donde se ubican los conjuntos pictóricos que le confieren a lugar su valor patrimonial
      y que lo distinguen como una de las concentraciones de arte rupestre más importantes del país. <br><br> Algunas de las
      grafías son representaciones humanas en actividades como la caza o danzando en pequeños grupos. También hay
      motivos zoomorfos: zorros, coyotes, perros y venados; águilas, lagartijas y ranas, e insectos como arañas o
      alacranes, así como vegetales, como la planta de maíz o quizá de peyote. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>