<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\Lambityeco-hr.jpg" />
    <h1>Lambityeco</h1>
    <p> Lambityeco se localiza en el Valle de Tlacolula, perteneciente a los Valles Centrales de Oaxaca. Por la temporalidad 
      de su ocupación es contemporáneo a Monte Albán, y se insertaba en el sistema de comercio de este último como un sitio 
      especializado en la producción de sal, la cual era obtenida por la evaporación del agua recolectada del Río Salado en 
      grandes recipientes. El linaje Zapoteca aquí establecido se caracterizó por la riqueza artística que plasmó en los elementos
      arquitectónicos decorativos como los relieves estucados y la pintura mural, así como en artefactos labrados en hueso, y
      en las diferentes urnas funerarias recuperadas en los enterramientos existentes.
      <br><br> Lambityeco es importante porque en él podemos observar evidencias representativas de un asentamiento zapoteco de 
      los periodos Clásico Tardío y Posclásico Temprano del valle de Oaxaca. Es notable por su extraordinaria calidad artística 
      presente en las diferentes urnas, huesos grabados y pintura mural recuperadas en algunas tumbas del lugar y por sus elementos 
      arquitectónicos decorados con mosaicos y frisos en estuco. A diferencia de otros pueblos que basaban su economía en la agricultura
      Lambityeco fue importante porque sus habitantes se destacaron como productores y exportadores de sal.
      <br><br> Se ubica a 31 kilómetros al sureste de Oaxaca, para llegar se toma la carretera Panamericana 190 que va hacia Mitla 
      y al Istmo de Tehuantepec. Sobre ésta a mano derecha están las edificaciones prehispánicas.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>