<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\tajin-hr.jpg" />
    <h1>El Tajín</h1>
    <p>El Tajín es la ciudad prehispánica Mesoamericana más importante de la costa norte de Veracruz. Su influencia
      abarca las cuencas de los Ríos Cazones y Tecolutla desde la Sierra Norte de Puebla, donde su influencia se aprecia
      claramente en la zona arqueológica de Yohualichan, hasta la planicie costera del Golfo de México. Desde el punto
      de vista urbanístico en El Tajín, se privilegiaron los grandes espacios abiertos delimitados por templos y
      desniveles. <br><br>
      Además de las decoraciones con nichos, relieves y pintura mural. Uno de las construcciones más interesantes es la
      llamada Pirámide de los Nichos, llamada así por que los tableros que componen sus fachadas fueron decorados con
      nichos que hacen un total de 365, razón por la cual ha recibido atención de los estudiosos en calendarios y
      cosmovisión Mesoamericanos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>