<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\Tocuila-thr.jpg" />
    <h1>Tocuila</h1>
    <p>
      El yacimiento arqueológico de Tocuila en México destaca por su gran extensión y 
      la abundancia de fósiles recuperados, incluyendo más de mil restos óseos de diversas 
      especies. Su importancia radica en ofrecer insights sobre la preservación de fósiles y las 
      condiciones naturales que favorecen su formación. Además, sitios como Tocuila proporcionan información 
      valiosa sobre la actividad humana en períodos antiguos, contribuyendo al conocimiento de la historia en México. <br><br>
      El hecho de que haya sido encontrada una gran cantidad de fósiles de mamut en Tocuila, nos deja saber que 
      pertenecieron a ejemplares que debieron perecer debido a avalanchas de lodo e incluso que fueron víctimas de ciertas 
      prácticas culturales de cacería y destazamiento, por parte de los habitantes prehistóricos de esta región del Estado de México. <br><br>
      El sitio arqueológico de Tocuila se encuentra unos 2.7 kilómetros al norte de la cabecera municipal de Texcoco, en unos 
      terrenos de propiedad privada y pertenecientes al ejido de San Miguel Tocuila, y los barrios de Santa Cruz de Abajo y de San Felipe. 
      El museo de sitio por su parte, se encuentra en la calle 16 de septiembre, muy cerca de la plaza central de Tocuila.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>