<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\sanmaxta-hr.jpeg" />
    <h1>Santa Rosa Xtampak</h1>
    <p>EXtampak significa en lengua maya, “Muros Viejos”. Santa Rosa Xtampak es una de las ciudades mayas más
      importantes del noreste de Campeche. <br><br> Descubierta en 1843, es una ciudad importante donde predomina la
      arquitectura del estilo Chenes, con cierta influencia del Puuc y Río Bec. En alrededor de 12 textos jeroglíficos
      se narra parte de su historia y gracias a una reciente exploración se ven varios edificios residenciales, entre
      los que destacan un palacio de tres niveles con más de 40 aposentos y un par de fachadas zoomorfas. <br><br> Al sitio hasta
      la fecha se le conoce como Capital regional en el área maya, considerada como la ciudad prehispánica más
      importante de la región de los Chenes, además de ser el de mayor tamaño en esta región.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>