<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\teotihuacan-hr.jpeg" />
    <h1>Teotihuacan</h1>
    <p>Teotihuacán es una de las zonas arqueológicas más impresionantes de México y representa una de las 
      civilizaciones más influyentes de Mesoamérica. <br><br>
      La ciudad de Teotihuacán fue establecida alrededor del año 
      200 a.C. y alcanzó su apogeo entre los años 150 y 450 d.C.
      Durante este periodo, se convirtió en una de las ciudades más 
      grandes del mundo antiguo, con una población estimada de más de 100,000 habitantes. <br><br>
      La arquitectura de Teotihuacán es impresionante. La ciudad está marcada por las grandes pirámides 
      del Sol y de la Luna. La Pirámide del Sol es la tercera pirámide más grande del mundo y la Pirámide de 
      la Luna se encuentra en la Calzada de los Muertos. Ambas pirámides están alineadas de manera precisa con eventos astronómicos.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>