<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\teotenango-tbn.jpg" />
    <h1>Teotenango</h1>
    <p>Pirámide de la Luna y la Pirámide de la Serpiente Emplumada, estas son dos de las estructuras más significativas en 
      Teotenango. La Pirámide de la Luna es más pequeña que la Pirámide de la Serpiente Emplumada, pero ambas son impresionantes 
      ejemplos de la arquitectura mesoamericana. <br><br>
      La ocupación de Teotenango se remonta al periodo Preclásico (1500 a.C. - 200 d.C.). Sin embargo, su 
      apogeo ocurrió durante el periodo Clásico (200-650 d.C.) y el Posclásico (650-1521 d.C.). Durante el Posclásico, 
      Teotenango fue un importante centro regional. <br><br>
      Teotenango se encuentra en el Valle de Toluca, en el centro de México. Está cerca de la ciudad moderna de Tenango del Valle.
    </p>
  </ion-card>

<div id="map"></div>
</ion-content>