<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\sabana-hr.png" />
    <h1>La Sabana</h1>
    <p>Recibe su nombre por la colonia 5 de Mayo del ejido de La Sabana, en la ciudad de Acapulco, donde se encuentra
      ubicada. Se desconoce el nombre prehispánico del lugar.<br><br>A través de los grabados es posible conocer
      aspectos de la sociedad que plasmó sus ideas en este lugar entre el Preclásico Tardío (450 a.C a 200 d.C.) y
      Clásico (200 a 650 d.C.), hallando temáticas míticas, geográficas, linajes, cultos agrícolas y medición del
      tiempo. Destaca la representación esquemática del ser humano, mediante círculos y cuadrados para la cabeza y
      líneas para el cuerpo, abundando personajes míticos, deidades, sacerdotes y posiblemente descendencias de
      gobernantes plasmadas en piedra.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>