<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\campeche-img\el-tigre-hr.jpg" />
    <h1>El Tigre</h1>
    <p>De nombre original Itzamkanac, se localiza al suroeste del estado de Campeche, en el municipio de Candelaria.Fue
      erigida en la cima de una loma en la rivera del río del mismo nombre, en la que fuera la provincia prehispánica de
      Acalán, que en maya significa “lugar de canoas". <br><br> La parte más importante es el centro ceremonial de más
      de 200 metros que se extiende hacia dos plazas, rodeadas de edificios piramidales con mascarones antropomorfos que
      corresponden al periodo Preclásico. <br><br>
      Cada uno tenía una finalidad diferente, y están alineados de manera perfecta en un mismo eje con los edificios
      principales y el centro ceremonial, así como con los fenómenos astronómicos de los solsticios.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>