<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\zacatecas-img\altavista-hr.jpg" />
    <h1>Alta Vista Chalchuihuites</h1>
    <p>El nombre de esta zona arqueológica, proviene de su descubrimiento en los terrenos de un antiguo rancho
      denominado Alta Vista o Buena Vista, muy cerca del poblado minero Chalchihuites, del que adquirió su segundo
      nombre. A su vez, esta última palabra es un vocablo de origen náhuatl Chalchihuitl que significa piedra verde.
      <br><br>
      Alta Vista fue el principal centro ceremonial de la que se ha denominado cultura Chalchihuites y representa la
      máxima expansión septentrional de Mesoamérica. Esta cultura se extendió sobre el corredor de los flancos
      orientales de la Sierra Madre Occidental, desde el oeste del estado de Zacatecas hasta el de Durango, entre
      aproximadamente los años 100 a 1250 después de Cristo. Se le considera como cultura fronteriza o bien cultura de
      transición, según la clasificación del arqueólogo Manuel Gamio, entre los grupos sedentarios mesoamericanos y los
      grupos de cazadores-recolectores (chichimecas) que habitaban la Mesa Árida del Norte. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>