<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chihuahua-img\cuarenta-casas-hr.jpg" />
    <h1>Cuarenta Casas</h1>
    <p>“Las Cuarenta Casas” es el nombre con el que la población de la región bautizó al sitio, refiriéndose a un número
      indeterminado de abrigos rocosos con vestigios arqueológicos y aludiendo al número cuarenta por decir “muchas”.
      <br><br> El asentamiento de las Cuarenta Casas fue importante en las relaciones que la antigua ciudad de Paquimé
      sostuvo con las regiones costeñas del Océano Pacífico y Golfo de California. Sus Pobladores originales cultivaron
      maíz, calabaza y leguminosas, recolectaron semillas de yuca, bellotas silvestres y el maguey, cazaban venado,
      conejo, roedores, así como aves de diferentes tipos de las cuales aprovechaban su carne y sus plumas para fines
      ornamentales y de intercambio, habiéndose hallado evidencias de estos restos en las excavaciones hechas a finales
      del siglo XX por el Dr. Arturo Guevara Sánchez.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>