<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\oaxaca-img\dainzu-hr.jpg" />
    <h1>Dainzú</h1>
    <p> La ocupación de Dainzú abarca desde el periodo Preclásico Tardío hasta el Posclásico Temprano, lo que significa 
      que ha tenido una larga historia de ocupación y desarrollo a lo largo del tiempo.
      <br><br> El sitio presenta una arquitectura característica de la cultura zapoteca, con estructuras que incluyen plataformas, patios y escalinatas. La disposición de las estructuras sugiere una planificación urbana bien organizada.
      <br><br> Juego de Pelota: Como es común en muchos sitios prehispánicos en Mesoamérica, Dainzú cuenta con un juego de pelota, una cancha destinada para actividades rituales y deportivas.
      <br><br>Cerámica y Esculturas: Se han encontrado numerosos artefactos en Dainzú, incluyendo cerámica y esculturas, que proporcionan valiosa información sobre la vida cotidiana, las prácticas rituales y las creencias de la cultura zapoteca.
      <br><br> Dainzú se encuentra en el estado de Oaxaca, específicamente en el Valle de Oaxaca, que es conocido por 
      albergar varios sitios arqueológicos importantes. Está situado a unos 20 kilómetros al noreste de la ciudad de Oaxaca.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>