<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guanajuato-img\el-coporo-hr.png" />
    <h1>El Coporo</h1>
    <p>El Cóporo, palabra de origen tarasco que significa “sobre el gran camino o el camino grande.” <br><br>
      El Cóporo es un asentamiento con vestigios de una antigua ciudad mesoamericana ya que estuvo conformado por una
      serie de aldeas alrededor del cerro, cuyos habitantes cultivaban maíz, calabaza, amaranto, tomatillo, frijol y
      chile, que formaba parte de su dieta básica, y cerca existían manantiales y arroyos que fueron venerados en la
      época prehispánica. Además su ubicación al noroeste del Estado de Guanajuato, entre el valle y la zona de bosque,
      fue estratégica ya que le otorgó protección, así como acceso a diferentes recursos.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>