<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\zacatecas-img\cerro-ventana-hr.jpeg" />
    <h1>Cerro de la Ventana</h1>
    <p>La Zona Arqueológica Cerro de las Ventanas debe su nombre a un muro de mampostería de manufactura prehispánica,
      el cual tiene orificios que semejan ventanas. Se construyó sobre el frente de roca en la peña más alta del cerro,
      y se aprecia desde el valle. <br><br>
      Los trabajos arqueológicos han permitido caracterizar al sitio como el más grande desarrollo cultural del Cañón de
      Juchipila ya que comprende un centro cívico-ceremonial con arquitectura residencial, el cual fue ocupado por lo
      menos en las etapas más tardías por parte de grupos de habla náhuatl y que según las fuentes etnohistóricas serían
      los Caxcanes. Grupo que libro una serie de batallas en el siglo XVI hasta su derrota final en la Guerra del Mixtón
      fundamental entre 1540-41. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>