<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\huamango-hr.jpg" />
    <h1>Huamango</h1>
    <p>El sitio arqueológico de Huamango se localiza a 5 kilómetros al norte de la cabecera municipal de Acambay, por la
      carretera panamericana. Este antiguo asentamiento se erige de manera majestuosa en una formación geológica
      conocida como la Mesa de San Miguel del Huamango Camaye, compuesta por rocas ígneas andesíticas y una formación de
      las más altas y difícil acceso del valle de Acambay. <br><br> Huamango, que en náhuatl significa el lugar donde
      tallan madera, estuvo habitado por individuos de raigambre otomiana durante el horizonte Posclásico temprano (900
      a 1200 después de Cristo). En ese momento existía gran inestabilidad social en el Altiplano Central, ya que
      diversos centros políticos se disputaban el control de los territorios y pueblos de la comarca.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>