<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\morelos-img\chalcatzingo-hr.jpeg" />
    <h1>Chalcatzingo</h1>
    <p>Su nombre tiene tres significados de origen náhuatl: “el lugar más preciado de los Chalcas”, “venerado lugar de
      agua sagrada” o “de los jades preciosos”. <br><br>
      Es uno de los asentamientos más importantes con influencia Olmeca, al igual que Teopantecuanitlán. Chalcatzingo
      tiene un desarrollo paralelo con La Venta, Tabasco, que queda en evidencia en el estilo decorativo de los
      edificios y los petrograbados que ahí se encuentran. <br><br> Entre las estructuras arquitectónicas más notables de
      Chalcatzingo destacan la Terraza 1 donde se albergaron conjuntos residenciales; la Terraza 25 que cuenta con patio
      hundido y la Estructura 4 que es una estructura de planta casi cuadrangular de 70 metros de lado, en cuyas
      inmediaciones se han encontrado enterramientos de individuos con ornamentos de jade y espejos de magnetita, como
      ofrenda, aunque la mayoría de los entierros se han localizado bajo los pisos de las unidades habitacionales.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>