<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\palma-sola-hr.jpg" />
    <h1>Palma Sola</h1>
    <p>Recibe este nombre por el paraje en donde se ubica. <br><br>Centro ceremonial de los antiguos pobladores (800
      a.C.-750) del actual estado de Guerrero, en la parte alta de la bahía de Acapulco, donde es posible admirar 18
      impactantes rocas grabadas, con representaciones de mitos, personajes, el entorno natural, cultos agrícolas y
      medición del tiempo. <br><br> Palma Sola se asienta en una superficie de aproximadamente 3.8 hectáreas,
      concretamente sobre
      el cerro El Veladero, en la parte conocida como el “Anfiteatro”. No es casual que este punto haya sido elegido
      para levantar un centro ceremonial: aquí nacen dos arroyos y hay un abrigo rocoso, además de que esta ubicación
      permite un gran dominio visual tanto de las partes bajas del cerro como de la bahía.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>