<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\el-conde-hr.jpg" />
    <h1>El Conde</h1>
    <p>Recibe este nombre porque ahí vivió el señor Manuel Conde, a mediados del siglo XIX, anteriormente formó parte de
      la hacienda El Prieto, construida en el siglo XVI. La zona arqueológica de El Conde comprende una plataforma
      cuadrangular donde en la época prehispánica estaba un tecpan o palacio de la nobleza.
      <br><br>La estructura principal de El Conde, en su lado sur presenta hiladas “Xamitl”, que corresponde a la Fase
      Azteca
      III, pero también se ha encontrado cerámica de la Fase Azteca II y Tollán. La construcción es uno de los últimos
      ejemplos que existen de arquitectura civil del Postclásico Tardío. Al frente tiene una escalinata y algunos
      cuartos adosados, característicos de este tipo de construcciones.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>