<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\veracruz-img\sanloten-hr.jpg" />
    <h1>San Lorenzo Tenochtitlan</h1>
    <p>San Lorenzo Tenochtitlán fue una capital olmeca estratégicamente ubicada que ejercía control sobre la
      comunicación y transporte terrestre y acuático. Situada en una "isla" tropical rodeada por ríos navegables y
      llanuras de inundación en la cuenca baja del río Coatzacoalcos, el sitio se caracteriza por modificaciones
      artificiales en el terreno. <br><br> Como capital regional olmeca, San Lorenzo ocupaba las tierras más altas y se destacaba
      por su sociedad jerárquicamente estructurada. Su éxito se atribuye a estrategias adoptadas para aprovechar
      eficientemente el entorno y su posición geográfica estratégica.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>