<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\hidalgo-img\xihuingo-hr.JPG" />
    <h1>Xihuingo</h1>
    <p>Antiguo establecimiento de cazadores recolectores y agricultores iniciales, fundado hace veinte siglos, que
      recibió la influencia teotihuacana y se convirtió en centro acolhua de distribución del Altiplano hacia el Golfo.
      Contiene notables pinturas rupestres en Tres Peñas y El Tecolote. <br><br> Este sitio formó parte de Acolhuacan,
      una de las tres divisiones político territoriales prehispánicas del centro de México en tiempos previos a la
      Conquista española y que formara parte de la red de tributación del imperio Azteca centrada en
      México-Tenochtitlan.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>