<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chihuahua-img\huapoca-hr.jpg" />
    <h1>Huapoca</h1>
    <p>Este sitio toma el nombre del conjunto de abrigos rocosos con casas en acantilado situados cerca de una población
      y formación del mismo nombre. <br><br> Huapoca en un sitio más perteneciente a la cultura Casas Grandes, de la
      cual Paquimé fue su centro regional. Al parecer estos asentamientos se crearon a partir de migraciones de norte a
      sur de grupos sociales pertenecientes a la cultura Mogollón, ocupando una gran parte de la Sierra de Chihuahua, en
      el actual municipio de Madera. En este sitio existen 4 conjuntos: cueva nido del águila, cueva de la serpiente,
      cueva del mirador y la atalaya, comparten rasgos distintivos como la arquitectura de tierra compactada y viviendas
      de dos niveles, las puertas en “T” y la construcción de graneros.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>