<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\tonina-hr.jpg" />
    <h1>Toniná</h1>
    <p>El nombre de Toniná significa en Tzetzal La casa de piedra o El lugar donde se levantan esculturas en piedra en
      honor del tiempo. <br><br>
      El espacio sagrado es una enorme montaña artificial construida sobre una pequeña cordillera natural de arcilla en
      el norte del valle de Ocosingo, ésta fue forrada con siete enormes plataformas de piedra sobre las que se
      construyeron templos y palacios formando un laberinto monumental de más de 70 metros de altura. Alrededor de la
      gran acrópolis, y por todo el valle, se distribuyeron las áreas de habitación y de cultivo. Toniná presenta una
      tradición escultórica de rasgos mayas, sin embargo tiene una particularidad propia, cuenta con magníficos
      altorrelieves en piedra y estuco. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>