<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button id="back-button" (click)="goToHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Barra de busqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar animated placeholder="Busca la zona arqueologica" (ionInput)="buscar($event)" ></ion-searchbar>
  <ion-list >
    <ion-item *ngFor="let item of listaFiltrada" (click)="redirigirAPagina(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>
