<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\huexotla-hr.png" />
    <h1>Huexotla</h1>
    <p>Huexotla es el lugar de sauces, nombre náhuatl que hace referencia al bosque que existió en la época prehispánica
      en el lugar al pie de la sierra de Tlaloc. <br><br> La Zona Arqueológica de Huexotla, en la cuenca oriental de México,
      destaca por su importancia en el periodo
      postclásico temprano y tardío (1150 a 1521 d. C.).Abarcando varios kilómetros cuadrados, solo una pequeña parte ha
      sido explorada y abierta al público, incluyendo edificios
      como La Estancia y La Comunidad. Las investigaciones continúan, revelando estructuras como El Templo Mayor y una
      Muralla que formaban parte del recinto sagrado de Huexotla. <br><br> Además, la comunidad cuenta con importantes
      construcciones virreinales, como la Iglesia de San Luis Obispo y el ex-convento franciscano. La evidencia
      arqueológica sugiere que La Comunidad pudo estar relacionada con una sala de consejo o administración.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>