<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\guerrero-img\ixcateopan-hr.jpg" />
    <h1>Ixcateopan</h1>
    <p>El nombre Ixcateopan procede del idioma náhuatl, siendo su acepción más viable ichcatl (algodón), teopantli
      (templo) y pan (en); “en el templo del algodón”. <br><br> Los restos arqueológicos explorados forman parte de una
      zona que funcionó como centro ceremonial de importancia a nivel regional. Ixcateopan era lugar de culto y
      guarnición guerrera habitado por población local, como los cohuixcas gente del lugar donde hay lagartijas, los
      chontales extranjeros y por los mexicas. <br><br> Las construcciones, de la época Posclásica, se realizaron entre los años
      1350 y 1450 después de Cristo. Los edificios pertenecen por lo menos a cinco momentos constructivos diferentes; el
      conjunto estuvo dedicado a ceremonias religiosas, actividades administrativas y de intercambio. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>