<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\tabasco-img\la-venta-hr.JPG" />
    <h1>La Venta</h1>
    <p>Esta zona arqueológica representa uno de los apogeos de la civilización olmeca. Esta antigua ciudad se distingue
      por representar el primer trazo arquitectónico planificado en el México antiguo, su arquitectura monumental de
      tierra, su gran acervo escultórico y sus ofrendas de jade, al igual que por sus ofrendas masivas, únicas en el
      mundo prehispánico. <br><br> En los alrededores de La Venta se han encontrado vestigios culturales que datan de 1750 antes
      de Cristo, aunque la ocupación principal se concentra entre el 1200 y el 400 antes de Cristo.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>