<ion-content>
  <div class="example-content">
  <ion-header>
  <ion-toolbar>
    <ion-title>Zonas arqueologicas de México</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-tab-bar slot="top" class="Colordesearch">
      <ion-tab-button (click)="redirectToSearch()" class="Colordesearch">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
 
  <ion-card id="info-row">
    <h2>¿Que es una zona arqueologica?</h2>
    <div id="info-image">
      <img src="assets/img/zona.jpg" alt="vector">
    </div>
    <div id="info-text">
      <p>Es un lugar en el cual se ha preservado evidencia de actividades que han sucedido en el pasado, ya sean
        prehistóricas, históricas o casi contemporáneas, y que han sido investigadas utilizando la disciplina de la
        arqueología, significando que el sitio representa parte del registro arqueológico.</p>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Baja California</ion-card-title>
      <ion-card-subtitle>Descubre zonas arqueologicas en...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="redirectToVallecito()">
          <ion-thumbnail slot="start">
            <img alt="El Vallecito" src="assets\img\baja-california-img\bc_vallecito.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de El Vallecito</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Campeche</ion-card-title>
      <ion-card-subtitle>Descubre zonas arqueologicas en...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="redirectToBalamku()">
          <ion-thumbnail slot="start">
            <img alt="Balamku" src="assets\img\campeche-img\bk_thn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Balamku</ion-label>
        </ion-item>
        <ion-item (click)="redirectToBecan()">
          <ion-thumbnail slot="start">
            <img alt="Becan" src="assets\img\campeche-img\becan-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Becan</ion-label>
        </ion-item>
        <ion-item (click)="redirectToCalakmul()">
          <ion-thumbnail slot="start">
            <img alt="Calakmul" src="assets\img\campeche-img\calakmul-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Calakmul</ion-label>
        </ion-item>
        <ion-item (click)="redirectToChunhuhub()">
          <ion-thumbnail slot="start">
            <img alt="Chunhuhub" src="assets\img\campeche-img\chhb-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Chunhuhub</ion-label>
        </ion-item>
        <ion-item (click)="redirectToChicanna()">
          <ion-thumbnail slot="start">
            <img alt="Chicanna" src="assets\img\campeche-img\chicanna-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Chicanná</ion-label>
        </ion-item>
        <ion-item (click)="redirectToDzibilnocac()">
          <ion-thumbnail slot="start">
            <img alt="Dzibilnocac" src="assets\img\campeche-img\dzibilnocac-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Dzibilnocac</ion-label>
        </ion-item>
        <ion-item (click)="redirectToEdzna()">
          <ion-thumbnail slot="start">
            <img alt="Edzna" src="assets\img\campeche-img\edzna-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Edzna</ion-label>
        </ion-item>
        <ion-item (click)="redirectToElTigre()">
          <ion-thumbnail slot="start">
            <img alt="El-Tigre" src="assets\img\campeche-img\el-tigre-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de El Tigre</ion-label>
        </ion-item>
        <ion-item (click)="redirectToHochob()">
          <ion-thumbnail slot="start">
            <img alt="Hochob" src="assets\img\campeche-img\hochob-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Hochob</ion-label>
        </ion-item>
        <ion-item (click)="redirectToHormiguero()">
          <ion-thumbnail slot="start">
            <img alt="Hormiguero" src="assets\img\campeche-img\hormiguero-tbn.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de El Hormiguero</ion-label>
        </ion-item>
        <ion-item (click)="redirectToKanki()">
          <ion-thumbnail slot="start">
            <img alt="Kanki" src="assets\img\campeche-img\kanki-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Kankí</ion-label>
        </ion-item>
        <ion-item (click)="redirectToSanRoxta()">
          <ion-thumbnail slot="start">
            <img alt="SanRoxta" src="assets\img\campeche-img\sanmaxta-tbn.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Santa Rosa Xtampak</ion-label>
        </ion-item>
        <ion-item (click)="redirectToTabasqueno()">
          <ion-thumbnail slot="start">
            <img alt="Tabasqueno" src="assets\img\campeche-img\tabasqueno-tbn.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Tabasqueño</ion-label>
        </ion-item>
        <ion-item (click)="redirectToTohcok()">
          <ion-thumbnail slot="start">
            <img alt="Tohcox" src="assets\img\campeche-img\tohcok-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Tohcok</ion-label>
        </ion-item>
        <ion-item (click)="redirectToXcalumkin()">
          <ion-thumbnail slot="start">
            <img alt="Xcalumkin" src="assets\img\campeche-img\xcalumkin-tbn.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Xcalumkin</ion-label>
        </ion-item>
        <ion-item (click)="redirectToXpuhil()">
          <ion-thumbnail slot="start">
            <img alt="Xpuhil" src="assets\img\campeche-img\xpuhil-tbn.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Xpuhil</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Quintana Roo</ion-card-title>
      <ion-card-subtitle>Descubre zonas arqueologicas en...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="redirectToElRey()">
          <ion-thumbnail slot="start">
            <img alt="El Rey" src="assets\img\el-rey.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de El Rey</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToElMeco()">
          <ion-thumbnail slot="start">
            <img alt="El Meco" src="assets/img/el-meco.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de El Meco</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToSanGervasio()">
          <ion-thumbnail slot="start">
            <img alt="San Gervasio" src="assets/img/san-gervasio.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de San Gervasio</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToXelHa()">
          <ion-thumbnail slot="start">
            <img alt="Xel-Há" src="assets/img/xelha.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica Xel Há</ion-label>
        </ion-item>

        <ion-item (click)="redirectToCoba()">
          <ion-thumbnail slot="start">
            <img src="assets/img/coba.jpg" alt="Coba">
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Coba</ion-label>
        </ion-item>

        <ion-item (click)="redirectToTulum()">
          <ion-thumbnail slot="start">
            <img src="assets/img/tulum.jpg" alt="Tulum">
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Tulum</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Yucatan</ion-card-title>
      <ion-card-subtitle>Descubre zonas arqueologicas en...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="redirectToEkBalam()">
          <ion-thumbnail slot="start">
            <img alt="ek-balam" src="assets\img\ekbalam.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Ek Balam</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToChichen()">
          <ion-thumbnail slot="start">
            <img alt="chichen-Itza" src="assets\img\chichen-itza.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Chichen Itza</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToIzamal()">
          <ion-thumbnail slot="start">
            <img alt="izamal" src="assets\img\izamal.jpg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Izamal</ion-label>
        </ion-item>
  
        <ion-item (click)="redirectToAke()">
          <ion-thumbnail slot="start">
            <img alt="ake" src="assets\img\ake.jpeg" />
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Aké</ion-label>
        </ion-item>

        <ion-item (click)="redirectToXcambo()">
          <ion-thumbnail slot="start">
            <img src="assets\img\xcambo.jpg" alt="xcambo">
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Xcambó</ion-label>
        </ion-item>

        <ion-item (click)="redirectToDzibilchaltun()">
          <ion-thumbnail slot="start">
            <img src="assets\img\dzibilchaltun.jpg" alt="dzibilchaltun">
          </ion-thumbnail>
          <ion-label>Zona arqueologica de Dzibilchaltún</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</div>
</ion-content>
