<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets/img/xelha.jpg">
    <h1>Zona arqueologica de Xel Há</h1>
    <p>La zona arqueológica de Xel-Há se ubica a 113 km (aproximadamente 1:30 h) al sur de Cancún y a 19 km (15 minutos
      aproximados) al norte de Tulum. <br><br>
      Su nombre significa “entrada de agua” y se cree que fungió como importante puerto comercial del reinado de Cobá de
      la antigua cultura maya. No se conservan registros con información sobre su fundación, pero se calcula que ocurrió
      alrededor del año 200 de nuestra era. <br><br>Este asentamiento tuvo dos periodos de gran importancia: entre los siglos
      III-VII y después entre los siglos XIII-XVI, abandonándose paulatinamente después de la invasión española a la
      Península de Yucatán.</p>
    <div id="interes">
      <ion-button shape="round" (click)="redirectToXelhaRA()">Ver en RA</ion-button>
    </div>
  </ion-card>
</ion-content>