<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\yucatan-img\Acanceh-hr.jpg" />
    <h1>Acanceh</h1>
    <p> La ciudad de Acanceh tuvo su apogeo durante el periodo Clásico Tardío de la civilización maya, entre los años 600 
      y 1000 d.C. Durante este tiempo, la región experimentó un auge en la construcción de estructuras arquitectónicas, 
      y Acanceh no fue una excepción. Muchos de los edificios en la zona arqueológica datan de este periodo.
      <br><br>Uno de los rasgos más destacados de Acanceh es su arquitectura, que presenta una mezcla de estilos 
      arquitectónicos mayas y de influencias de otras culturas mesoamericanas. Uno de los edificios más conocidos 
      es el "Palacio de los Estucos", que contiene frisos decorativos y elaborados estucos que muestran la destreza 
      artística de los antiguos habitantes.
      <br><br> Acanceh se ubica a aproximadamente 21 kilómetros al sureste de Mérida, la capital del estado de Yucatán.</p>
  </ion-card>

  <div id="map"></div>
</ion-content>