<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\chiapas-img\bonampak-hr.jpg" />
    <h1>Bonampak</h1>
    <p>Bonampak no logró un gran desarrollo en su arquitectura, al igual que el resto de los sitios arqueológicos mayas
      de la región del Usumacinta Medio, sí destacó en otros ámbitos, como el de la excelente ejecución de dinteles en
      piedra, estelas y monumentos labrados, de bella realización. Sin duda alguna, fue el desarrollo pictórico el
      aspecto que se puede considerar como el de mayor importancia que se conserva en el sitio. <br><br> Su máxima expresión
      quedó plasmada en el Edificio 1 o de las Pinturas, las cuales, tanto por su complejidad, como por la extensión que
      ocupan y su buen estado de conservación, las convierte en una expresión única en el mundo mesoamericano. En los
      murales quedó constancia de una gran batalla ganada por Chan Muwan II con el apoyo militar de la vecina ciudad de
      Yaxchilán, gracias a lo cual queda establecido en Bonampak al derrotar al grupo que la gobernaba, en alianza con
      la ciudad de Sak' Tz'i'. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>