<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\bcs-img\sierra-san-fran-hr.jpeg" />
    <h1>Sierra de San Francisco</h1>
    <p>
      Aquí se asentó un pueblo que se cree fueron los antepasados de los indígenas cochimíes. Se calcula que los
      primeros asentamientos datan de hace 10,000 años, y que los pobladores eran antepasados de los indígenas
      cochimíes. Sin embargo, parece que la costumbre de pintar en la roca comenzó hace aproximadamente 4,000 años y se
      prolongo hasta 1650 con la llegada de los misioneros españoles. Es de llamar la atención que en tan largo periodo
      los rasgos de las pinturas murales no hayan tenido grandes cambios. <br><br> Las pinturas rupestres de la Sierra
      de San Francisco, integran un conjunto de murales en los que se representan seres humanos, diversas especies
      animales, tanto terrestres como marinos, y motivos abstractos. Se distinguen especialmente los trazos refinados y
      el colorido, por lo que son consideradas únicas en su género.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>