<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\nayarit-img\ixtlan-rio-hr.jpg" />
    <h1>Ixtlán del Rio</h1>
    <p>Localmente se le conoce como Los Toriles, nombre del terreno sobre el que se encuentra. De igual forma, el sitio
      se encuentra registrado en la Dirección de Registro Público de Monumentos y Zonas Arqueológicos bajo el nombre Los
      Toriles.
      <br><br>Las primeras referencias del área de Ixtlán del Río son las de cronistas y frailes. Éstas, en conjunto,
      proporcionan un bosquejo del modo de vida de la región y la ubicación de algunos asentamientos prehispánicos.
      Según los materiales y la información obtenida, el desarrollo del sitio comenzó en el Clásico, quizás en el 400 y
      continuó hasta el Posclásico, a la llegada de los españoles, cuando se asentaron grupos locales o con influencia y
      relación con otras áreas culturales, como el centro y norte de México en sus diversas etapas culturales.
    </p>
  </ion-card>

  <div id="map"></div>
</ion-content>