<ion-content [fullscreen]="true">
  <ion-button id="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-card>
    <img src="assets\img\edomex-img\reyes-paz-hr.jpg" />
    <h1>Los Reyes La Paz</h1>
    <p>Antiguamente el lugar era llamado Azaquilpan o Axaquilpan, en náhuatl es interpretado como “sobre la hierba de la
      arena”. <br><br> Los restos arquitectónicos en la zona pertenecen a un asentamiento de la fase Azteca III (1430 a
      1521 d.C.), ubicado al pie del cerro La Caldera. Se destaca un basamento en una amplia plataforma con dos etapas
      constructivas evidentes en la escalinata. <br><br> En la parte superior se encuentran restos del templo de la primera
      etapa, mientras que al sur, cerca del basamento, se conservan vestigios de habitaciones con accesos definidos,
      posiblemente residencias de los personajes clave, posiblemente sacerdotes. Se han identificado también restos de
      cuartos con tlecuiles, indicando su función habitacional. </p>
  </ion-card>

  <div id="map"></div>
</ion-content>